---
title: Formulir Laporan Aktivitas
layout: form
---

<script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.17.0/dist/jquery.validate.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.17.0/dist/additional-methods.min.js"></script>
<script src="https://cdn.rawgit.com/snyderp/jquery.validate.file/master/jquery.validate.file.js"></script>

<script>
  $(document).ready(function() {
    $("#aktivitas").validate({
      focusInvalid: true,
      rules: {
        nama: {
          minlength: 3,
          maxlength: 75,
          oddChar: true,
          noNumber: true,
          noDotsCommas: true,
          noBrackets: true,
          fullName: true,
        },
        title: {
          minlength: 3,
          maxWords: 15,
          oddChar: true,
        },
        lokasi: {
          minlength: 3,
          maxlength: 75,
          oddChar: true,
        },
        alamat: {
          minlength: 3,
          maxWords: 35,
          oddChar: true,
        },
        tujuan: {
          minlength: 3,
        },
        hasil: {
          minlength: 3,
        },
        upload_img: {
          extension: "png|jpe?g",
          maxFileSize: {
            "unit": "MB",
            "size": 3,
          },
          minFileSize: {
            "unit": "KB",
            "size": 10,
          },
        },
        upload_img2: {
          extension: "png|jpe?g",
          maxFileSize: {
            "unit": "MB",
            "size": 3,
          },
          minFileSize: {
            "unit": "KB",
            "size": 10,
          },
        },
        img_caption: {
          maxlength: 75,
          oddChar: true,
        },
        img2_caption: {
          maxlength: 75,
          oddChar: true,
        },
      },
      messages: {
        nama: {
          minlength: "Harap masukan nama Anda",
          maxlength: "Nama yang Anda masukan terlalu panjang",
        },
        title: {
          minlength: "Harap masukan judul aktivitas",
          maxWords: "Judul yang Anda masukan terlalu panjang",
        },
        lokasi: {
          minlength: "Harap masukan nama tempat aktivitas berlangsung",
          maxlength: "Nama tempat yang Anda masukan terlalu panjang",
        },
        alamat: {
          minlength: "Harap masukan alamat lengkap tempat aktivitas berlangsung",
          maxWords: "Alamat yang Anda masukan terlalu panjang",
        },
        tujuan: {
          minlength: "Harap masukan tujuan aktivitas",
        },
        hasil: {
          minlength: "Harap masukan hasil aktivitas",
        },
        img: {
          extension: "Harap unggah berkas berupa gambar (.jpeg, atau .png)",
          maxFileSize: "Ukuran berkas maksimal 3 MB",
          minFileSize: "Berkas yang Anda masukan terlalu kecil, silahkan coba berkas lain",
        },
        img2: {
          extension: "Harap unggah berkas berupa gambar (.jpeg, atau .png)",
          maxFileSize: "Ukuran berkas maksimal 3 MB",
          minFileSize: "Berkas yang Anda masukan terlalu kecil, silahkan coba berkas lain",
        },
        img_caption: {
          maxlength: "Keterangan gambar terlalu panjang",
        },
        img2_caption: {
          maxlength: "Keterangan gambar tambahan terlalu panjang",
        },
      },
    });
    $('#preview').click(function() {
      if($("#aktivitas").valid()){
        $("#entryform").fadeOut();
        $("#previewform").fadeIn();
        $("#preview_nama").text( $("#nama").val() );
        $("#preview_proyek").text( $("#proyek").val() );
        $("#preview_title").text( $("#title").val() );
        $("#preview_date").text( $("#date").val() );
        $("#preview_jam").text( $("#jam").val() );
        $("#preview_img_caption").text( $("#img_caption").val() );
        $("#preview_img2_caption").text( $("#img2_caption").val() );
        $("#preview_lokasi").text( $("#lokasi").val() );
        $("#preview_alamat").text( $("#alamat").val() );
        $("#preview_hadir").text( $("#hadir").val() );
        $("#preview_tujuan").text( $("#tujuan").val() );
        $("#preview_hasil").text( $("#hasil").val() );
        $("#preview_evaluasi").text( $("#evaluasi").val() );
        $("#preview_rekomendasi").text( $("#rekomendasi").val() );
      } else {
        $('html, body').animate({
          scrollTop: ($('.error').offset().top - 30)
        }, 200);
      }
    });
    $('#kembali').click(function() {
      $("#entryform").fadeIn();
      $("#previewform").fadeOut();
      $("html, body").animate({ scrollTop: 0 }, "slow");
    });
    $('#add_img2').click(function() {
      $("#img2_field").fadeIn();
      $("#img2_caption_field").fadeIn();
      $("#add_img2").fadeOut();
    });
    function readURL(input) {
      if (input.files && input.files[0]) {
        var reader = new FileReader();
        reader.onload = function (e) {
          $('#input_' + input.id).attr('src', e.target.result);
          $('#preview_' + input.id).attr('src', e.target.result);
        }
        reader.readAsDataURL(input.files[0]);
      }
    };
    $("#img").change(function(){
      readURL(this);
    });
    $("#img2").change(function(){
      readURL(this);
    });

    $("#aktivitas").submit(function(e){
      e.preventDefault();
      var form = this

      var $submit = $("#sumbitaktivitas");

      // Show loading indicator
      $submit.html('<i class="fa fa-cog fa-spin fa-3x fa-fw"></i>');
      $submit.prop("disabled", "disabled");

      var uploads = [
        uploadFile($("#img")),
      ];

      if ($("#img2").val()) {
        uploads.push(uploadFile($("#img2")));
      }

      Promise.all(uploads)
      .then(function(url){
        $("#img").prop("type", "text").val(url[0]);
        $("#img2").prop("type", "text").val(url[1]);
      })
      .then(function() {
        {% if site.environment != 'production' %}
        var wtUrl = 'https://wt-0f6675c6465a78f801104f695954e61f-0.sandbox.auth0-extend.com/ciptamedia-aktivitas-dev'
        {% else %}
        var wtUrl = 'https://wt-0f6675c6465a78f801104f695954e61f-0.sandbox.auth0-extend.com/ciptamedia-aktivitas'
        {% endif %}

        return $.ajax({
          type: 'POST',
          url: wtUrl,
          data: $(form).serialize(),
        })
      })
      .then(function(){
        window.location = '/terima-kasih'
      })
      .catch(function(){
        alert("Gagal mengunggah gambar.\nSilahkan coba kembali");
        location.reload();
      });
    });
  });
</script>

<style>
td { white-space:pre }
</style>

<link rel="stylesheet" href="{{site.baseurl}}/static/css/index.css">

<div class="container">
  {% include title-header.html %}
  <div class="row">
    <div class="col-md-12">
      <h1 class="allcaps text-center">{{ page.title }}</h1>
    </div>
    <div class="col-md-12" id="entryform">
      <form class="form-horizontal" id="aktivitas" name="aktivitas" netlify-honeypot="bot-field" action="thank-you" netlify>
        <fieldset id="form-fieldset">
          <p class="hidden">
            <label>Don’t fill this out: <input name="bot-field"></label>
            <input type="text" name="auth_name" class="form-control" id="auth_name" readonly>
          </p>
          <div class="form-group required">
            <label class="control-label col-md-2" for="email">Surel / Email</label>
            <div class="col-md-10">
              <input type="email" name="email" class="form-control" id="email" required>
              <div class="form-example">
                Surel / email penulis tidak akan dipublikasikan.
              </div>
            </div>
          </div>
          <div class="form-group required">
            <label class="control-label col-md-2" for="nama">Nama Penulis</label>
            <div class="col-md-10">
              <input type="text" name="nama" class="form-control" id="nama" required>
              <div class="form-example">
                Masukan nama Anda<br>
                Contoh: Ivonne Kristiani
              </div>
            </div>
          </div>
          <div class="form-group required">
            <label class="control-label col-md-2" for="proyek">Proyek</label>
            <div class="col-md-10">
              <select name="proyek" class="form-control" id="proyek" required>
                <option value="" disabled selected>Pilih nama proyek Anda</option>
                {% for judul-proyek in site.data.laporan-keuangan.judul-proyek %}
                <option value="{{ judul-proyek }}">{{ judul-proyek }}</option>
                {% endfor %}
              </select>
            </div>
          </div>
          <div class="form-group required">
            <label class="control-label col-md-2" for="title">Judul Aktivitas</label>
            <div class="col-md-10">
              <input type="text" name="title" class="form-control" id="title" required>
              <div class="form-example">
                Masukan judul aktivitas<br>
                Contoh: Lokakarya Proyek, Pameran Seni, Rapat Anggota Dewan
              </div>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-md-2 required" for="date">Tanggal</label>
            <div class="col-md-2">
              <div class="input-group">
                <input type="date" name="date" class="form-control" id="date" required>
                <div class="form-example">
                  Masukan tanggal aktivitas
                </div>
              </div>
            </div>
            <label class="control-label col-md-2" for="jam">Jam</label>
            <div class="col-md-2">
              <div class="input-group">
                <input type="text" name="jam" class="form-control" id="jam">
                <div class="form-example">
                  Masukan waktu aktivitas<br>
                  Contoh: 13:00 - 17:00
                </div>
              </div>
            </div>
          </div>
          <div class="form-group required">
            <label class="control-label col-md-2" for="lokasi">Nama Tempat</label>
            <div class="col-md-10">
              <input type="text" name="lokasi" class="form-control" id="lokasi" required>
              <div class="form-example">
                Masukan nama tempat berlangsungnya aktivitas<br>
                Contoh: Rumah Tinggal , Gedung Pentas, Rumah Makan/Cafe
              </div>
            </div>
          </div>
          <div class="form-group required">
            <label class="control-label col-md-2" for="alamat">Alamat</label>
            <div class="col-md-10">
              <input type="text" name="alamat" class="form-control" id="alamat" required>
              <div class="form-example">
                Masukan alamat berlangsungnya aktivitas<br>
                Contoh: Jl. Pati No. 1, Menteng, Jakarta Pusat.
              </div>
            </div>
          </div>
          <div class="form-group required">
            <label class="control-label col-md-2" for="tujuan">Tujuan</label>
            <div class="col-md-10">
              <textarea name="tujuan" class="form-control" rows="5" id="tujuan" required></textarea>
              <div class="form-example">
                Jelaskan tujuan Anda menjalani/mengadakan aktivitas tersebut
              </div>
            </div>
          </div>
          <div class="form-group required">
            <label class="control-label col-md-2" for="img">Foto Kegiatan</label>
            <div class="col-md-10">
                <input type="file" class="btn btn-default" name="upload_img" id="img" accept="image/png, image/jpeg" required>
                <div class="input-group">
                    <img class="img-responsive img-hide-broken image-input" id="input_img" src="#" alt="Masukan foto kegiatan dengan klik di sini">
                    <button type="button" class="btn btn-fa btn-info btn-round">
                        <i class="material-icons">attach_file</i> lampirkan foto kegiatan
                    </button>
                </div>
            </div>
          </div>
          <div class="form-group required">
            <label class="control-label col-md-2" for="img_caption">Keterangan Gambar</label>
            <div class="col-md-10">
              <input type="text" name="img_caption" class="form-control" id="img_caption" required>
              <div class="form-example">
                Masukan keterangan gambar
              </div>
              <button type="button" class="btn btn-fa btn-round btn-success" id="add_img2">
                  <i class="material-icons">add</i> Unggah foto tambahan
              </button>
            </div>
          </div>
          <div id="img2_field" class="form-group" hidden>
            <label class="control-label col-md-2" for="img2">Foto Tambahan</label>
            <div class="col-md-10">
                <input type="file" class="btn btn-default" name="upload_img2" id="img2" accept="image/png, image/jpeg">
                <div class="input-group">
                    <img class="img-responsive img-hide-broken image-input" id="input_img2" src="#" alt="Masukan foto tambahan dengan klik di sini">
                    <button type="button" class="btn btn-fa btn-info btn-round">
                        <i class="material-icons">attach_file</i> lampirkan foto tambahan
                    </button>
                </div>
            </div>
          </div>
          <div id="img2_caption_field" class="form-group" hidden>
            <label class="control-label col-md-2" for="img2_caption">Keterangan Gambar Tambahan</label>
            <div class="col-md-10">
              <input type="text" name="img2_caption" class="form-control" id="img2_caption">
              <div class="form-example">
                Masukan keterangan gambar tambahan
              </div>
            </div>
          </div>
          <div class="form-group required">
            <label class="control-label col-md-2" for="hadir">Daftar Hadir</label>
            <div class="col-md-10">
              <textarea name="hadir" class="form-control" rows="5" id="hadir" required></textarea>
              <div class="form-example">
                Masukan daftar nama peserta yang hadir dalam aktivitas tersebut<br>
                Contoh:<br>
                Ivonne Kristiani<br>
                Dwi Satria Utama
              </div>
            </div>
          </div>
          <h3 class="text-center biryani-yellow-subtitle">Ringkasan</h3>
          <hr>
          <div class="form-group required">
            <label class="control-label col-md-2" for="sukses">Hasil</label>
            <div class="col-md-10">
              <textarea name="hasil" class="form-control" rows="5" id="hasil" required></textarea>
              <div class="form-example">
                Jelaskan hasil yang Anda peroleh dari aktivitas tersebut
              </div>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-md-2" for="sukses">Evaluasi</label>
            <div class="col-md-10">
              <textarea name="evaluasi" class="form-control" rows="5" id="evaluasi"></textarea>
              <div class="form-example">
                Jelaskan evaluasi dari aktivitas tersebut
              </div>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-md-2" for="sukses">Rekomendasi</label>
            <div class="col-md-10">
              <textarea name="rekomendasi" class="form-control" rows="5" id="rekomendasi"></textarea>
              <div class="form-example">
                Jelaskan rekomendasi yang dapat meningkatkan kualitas proyek dari aktivitas tersebut
              </div>
            </div>
          </div>
          <input type="hidden" name="user_agent" id="user_agent">
          <input type="hidden" name="categories" id="categories" value="laporan">
          <div class="form-group">
            <div class="col-lg-12 text-center">
              <button type="button" id="preview" class="btn btn-lg btn-danger btn-rounded btn-outline">Selanjutnya</button>
            </div>
          </div>
        </fieldset>
      </form>
    </div>
    <div class="col-md-10 col-md-offset-1" id="previewform" hidden>
      <h2>Laporan Aktivitas <span id="preview_proyek"></span></h2>
      <p>Oleh: <span id="preview_nama"></span></p>
      <table class="table table-condensed table-bordered">
        <thead>
          <tr>
            <th class="text-center" colspan="3"><h3 id="preview_title"></h3></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th class="text-center">Tanggal</th>
            <td id="preview_date"></td>
            <td rowspan="5">
              <figure>
                <img style="max-height: 250px" class="img-responsive center-block" id="preview_img" src="#" />
                <figcaption class="text-center"><small id="preview_img_caption"></small></figcaption>
              </figure>
              <figure>
                <img style="max-height: 250px" class="img-responsive img-hide-broken center-block" id="preview_img2" src="#" />
                <figcaption class="text-center"><small id="preview_img2_caption"></small></figcaption>
              </figure>
            </td>
          <tr>
            <th class="text-center">Jam</th>
            <td id="preview_jam"></td>
          </tr>
          <tr>
            <th class="text-center">Lokasi</th>
            <td id="preview_lokasi"></td>
          </tr>
          <tr>
            <th class="text-center">Alamat</th>
            <td id="preview_alamat"></td>
          </tr>
          <tr>
            <th class="text-center">Daftar Hadir</th>
            <td id="preview_hadir"></td>
          </tr>
          <tr>
            <th class="text-center">Tujuan</th>
            <td colspan="2" id="preview_tujuan"></td>
          </tr>
          <tr>
            <th class="text-center" colspan="3">Ringkasan</th>
          </tr>
          <tr>
            <th class="text-center">Hasil</th>
            <td colspan="2" id="preview_hasil"></td>
          </tr>
          <tr>
            <th class="text-center">Evaluasi</th>
            <td colspan="2" id="preview_evaluasi"></td>
          </tr>
          <tr>
            <th class="text-center">Rekomendasi</th>
            <td colspan="2" id="preview_rekomendasi"></td>
          </tr>
        </tbody>
      </table>
      <div class="form-group">
        <div class="col-md-3 col-md-offset-3 text-center">
          <a class="btn btn-lg btn-danger btn-rounded btn-outline wow bounceIn" id="kembali">Kembali</a>
        </div>
        <div class="col-md-3 text-center">
          <button type="submit" id="sumbitaktivitas" form="aktivitas" class="btn btn-lg btn-success btn-rounded btn-outline wow bounceIn">Konfirmasi</button>
        </div>
      </div>
    </div>
  </div>
</div>
