---
title: Formulir Laporan Keuangan
layout: form
---

<script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.17.0/dist/jquery.validate.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.17.0/dist/additional-methods.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/blueimp-md5@2.10.0/js/md5.min.js"></script>
<script src="https://cdn.rawgit.com/snyderp/jquery.validate.file/master/jquery.validate.file.js"></script>

<script>
  $(document).ready(function() {
    $('select[name=proyek]').change(function() {
      if ($(this).val() != 'Kerjabilitas' && $(this).val() != 'Rapotivi' ) {
        $('input[type="date"]').attr('min', '2018-04-21');
      } else {
        $('input[type="date"]').removeAttr('min');
      }
    });
    var dtToday = new Date();
    var month = dtToday.getMonth() + 1;
    var day = dtToday.getDate();
    var year = dtToday.getFullYear();
    if(month < 10)
        month = '0' + month.toString();
    if(day < 10)
        day = '0' + day.toString();
    var maxDate = year + '-' + month + '-' + day;
    $('#date').attr('max', maxDate);
    $( "input[name='reimburse']" ).change(function() {
      if ($(this).val() == "yes") {
        $("#field_pelakuTransaksi").show();
        $("#field_pelakuTransaksi").removeAttr("disabled");
        $("#pelakuTransaksi").prop("required", true);
        $("#reimbursement").show();
      } else {
        $("#field_pelakuTransaksi").hide();
        $("#field_pelakuTransaksi").attr("disabled");
        $("#pelakuTransaksi").removeAttr("required");
        $("#reimbursement").hide();
      }
    });
    $("#keuangan").validate({
      focusInvalid: true,
      rules: {
        _nota: {
          extension: "png|jpe?g",
          maxFileSize: {
            "unit": "MB",
            "size": 3,
          },
          minFileSize: {
            "unit": "KB",
            "size": 10,
          },
        },
        _notapelunasan: {
          extension: "png|jpe?g",
          maxFileSize: {
            "unit": "MB",
            "size": 3,
          },
          minFileSize: {
            "unit": "KB",
            "size": 10,
          },
        },
        nama: {
          minlength: 3,
          maxlength: 75,
          oddChar: true,
          noNumber: true,
          noDotsCommas: true,
          noBrackets: true,
          fullName: true,
        },
        pelakuTransaksi: {
          minlength: 3,
          maxlength: 75,
          oddChar: true,
        },
        kode: {
          minlength: 2,
          oddChar: true,
          kode: true,
        },
        anggaran: {
          minlength: 3,
          maxWords: 15,
          oddChar: true,
        },
        title: {
          minlength: 3,
          maxWords: 15,
          oddChar: true,
        },
        biaya: {
          digits: true,
        },
      },
      messages: {
        _nota: {
          extension: "Harap unggah berkas berupa gambar (.jpeg, atau .png)",
          maxFileSize: "Ukuran berkas maksimal 3 MB",
          minFileSize: "Berkas yang Anda masukan terlalu kecil, silahkan coba berkas lain",
        },
        _notapelunasan: {
          extension: "Harap unggah berkas berupa gambar (.jpeg, atau .png)",
          maxFileSize: "Ukuran berkas maksimal 3 MB",
          minFileSize: "Berkas yang Anda masukan terlalu kecil, silahkan coba berkas lain",
        },
        nama: {
          minlength: "Harap masukan nama Anda",
          maxlength: "Nama yang Anda masukan terlalu panjang",
        },
        pelakuTransaksi: {
          minlength: "Harap masukan nama pelaku transaksi",
          maxlength: "Nama yang Anda masukan terlalu panjang",
        },
        kode: {
          minlength: "Harap masukan kode anggaran",
        },
        anggaran: {
          minlength: "Harap masukan judul anggaran",
          maxWords: "Judul Anggaran yang Anda masukan terlalu panjang",
        },
        title: {
          minlength: "Harap masukan rincian transaksi",
          maxWords: "Rincian transaksi yang Anda masukan terlalu panjang",
        },
        biaya: {
          digits: "Harap masukan berupa angka saja",
        },
      },
    });
    $('#preview').click(function() {
      if($("#keuangan").valid()){
        $("#entry_form").fadeOut();
        $("#preview_form").fadeIn();
        $("#preview_nama").text( $("#nama").val() );
        $("#preview_pelakuTransaksi").text( $("#pelakuTransaksi").val() + " - " );
        $("#preview_title").text( $("#title").val() );
        $("#preview_date").text( $("#date").val() );
        $("#preview_kode").text( $("#kode").val() );
        $("#preview_biaya").text( $("#biaya").val() );
        $("#preview_tanggalpelunasan").text( $("#tanggalpelunasan").val() );
      } else {
        $('html, body').animate({
          scrollTop: ($('.error').offset().top - 30)
        }, 200);
      }
    });
    $('#kembali').click(function() {
      $("#entry_form").fadeIn();
      $("#preview_form").fadeOut();
      $("html, body").animate({ scrollTop: 0 }, "slow");
    });
    $(".input-show-photo").change(function(){
      showPhoto(this);
    });

    $("#keuangan").submit(function(e){
      e.preventDefault();
      var form = this;

      var $submit = $("#sumbitkeuangan");

      // Show loading indicator
      $submit.html('<i class="fa fa-cog fa-spin fa-3x fa-fw"></i>');
      $submit.prop("disabled", "disabled");

      var uploads = [
        uploadFile($("#_nota")),
      ];

      if ($("#_notapelunasan").val()) {
        uploads.push(uploadFile($("#_notapelunasan")));
      }

      Promise.all(uploads)
      .then(function(url){
        var nota = url[0];
        var notapelunasan = url[1];

        $("#upload_nota").val(nota);
        $("#upload_notapelunasan").val(notapelunasan);

        // Remove original file input from POST data by removing name attribute.
        $("#_nota").attr("name", "");
        $("#_notapelunasan").attr("name", "");
      })
      .then(function() {
        {% if site.environment != 'production' %}
        var wtUrl = 'https://wt-0f6675c6465a78f801104f695954e61f-0.sandbox.auth0-extend.com/ciptamedia-keuangan-dev'
        {% else %}
        var wtUrl = 'https://wt-0f6675c6465a78f801104f695954e61f-0.sandbox.auth0-extend.com/ciptamedia-keuangan'
        {% endif %}

        return $.ajax({
          type: 'POST',
          url: wtUrl,
          data: $(form).serialize(),
        })
      })
      .then(function(){
        window.location = '/terima-kasih'
      })
      .catch(function(){
        alert("Gagal mengunggah gambar.\nSilahkan coba kembali");
        location.reload();
      });
    });
  });

  {% assign identifiersMap = "" | split: "," %}
  {%- for report in site.laporan-keuangan -%}
    {% if report.submitter_identifier %}
      {% assign map = report.submitter_identifier | append: '/' |
        append: report.nama | append: '|' |
        append: report.proyek
      %}
      {% unless identifiersMap contains map %}
        {% assign identifiersMap = identifiersMap | push: map %}
      {% endunless %}
    {% endif %}
  {%- endfor -%}

  // submitter_identifier: [nama, proyek]
  var identifiersMap = {
    {%- for entries in identifiersMap -%}
      {{- entries | split: '/' | first | jsonify -}}:
      {{- entries | split: '/' | last | split: '|' | jsonify -}},
    {%- endfor -%}
  }

  function loadPrevData() {
    var email = $("#email").val();
    var hash = md5(email);
    var data = identifiersMap[hash];

    if (data) {
      var name = data[0];
      var project = data[1];
      setValAndLock("#nama", name);
      setValAndLock("#proyek", project);
    }
  }

  netlifyIdentity.on("login", function(){
    $(loadPrevData); // Run after DOM ready and email is set
  });
</script>

<link rel="stylesheet" href="{{site.baseurl}}/static/css/index.css">

<div class="container">
  {% include title-header.html %}
  <div class="row">
    <div class="col-md-12">
      <h1 class="allcaps text-center">Formulir Laporan Keuangan</h1>
    </div>
    <div class="col-md-12" id="entry_form">
      <form class="form-horizontal" id="keuangan" name="keuangan" netlify-honeypot="bot-field" action="thank-you" netlify>
        <fieldset id="form-fieldset">
          <p class="hidden">
            <label>Don’t fill this out: <input name="bot-field"></label>
            <input type="text" name="auth_name" class="form-control" id="auth_name" readonly>
          </p>
          <h3 class="text-center biryani-yellow-subtitle">Data Penulis Laporan</h3>
          <hr>
          <div class="form-group required">
            <label class="control-label col-md-2" for="nama">Nama</label>
            <div class="col-md-10">
              <input type="text" name="nama" class="form-control" id="nama" required>
              <div class="form-example">
                Contoh: Ivonne Kristiani, atau M Iqbal
              </div>
            </div>
          </div>
          <div class="form-group required">
            <label class="control-label col-md-2" for="email">Surel / Email</label>
            <div class="col-md-10">
              <input type="email" name="email" class="form-control" id="email" required>
            </div>
          </div>
          <h3 class="text-center biryani-yellow-subtitle">Proyek</h3>
          <hr>
          <div class="form-group required">
            <label class="control-label col-md-2" for="proyek">Judul Proyek</label>
            <div class="col-md-10">
              <select name="proyek" class="form-control" id="proyek" required>
                <option value="" disabled selected>Pilih nama proyek Anda</option>
                {% for judul-proyek in site.data.laporan-keuangan.judul-proyek %}
                <option value="{{ judul-proyek }}">{{ judul-proyek }}</option>
                {% endfor %}
              </select>
            </div>
          </div>
          <h3 class="text-center biryani-yellow-subtitle">Transaksi</h3>
          <hr>
          <div class="form-group required">
            <label class="control-label col-md-2" for="date">Tanggal Transaksi</label>
            <div class="col-md-2">
              <div class="input-group">
                <input type="date" name="date" class="form-control" id="date" required>
              </div>
            </div>
          </div>
          <div class="form-group required">
            <label class="control-label col-md-2" for="kode">Kode Anggaran</label>
            <div class="col-md-2">
              <div class="input-group">
                <input type="text" name="kode" class="form-control" id="kode" required>
                <div class="form-example">
                  Contoh: B3
                </div>
              </div>
            </div>
            <label class="control-label col-md-2" for="anggaran">Keterangan Anggaran</label>
            <div class="col-md-6">
              <input type="text" name="anggaran" class="form-control" id="anggaran" required>
              <div class="form-example">
                Contoh: Akomodasi dan Transportasi
              </div>
            </div>
          </div>
          <div class="form-group required">
            <label class="control-label col-md-2" for="nama">Transaksi Oleh</label>
            <div class="col-md-10">
              <input type="radio" name="reimburse" value="no">Saya sendiri<br>
              <input type="radio" name="reimburse" value="yes">Orang lain
              <div id="field_pelakuTransaksi" hidden disabled>
                <input type="text" name="pelakuTransaksi" class="form-control" id="pelakuTransaksi">
                <div class="form-example">
                  Masukan nama orang yang melakukan transaksi jika Anda mewakili orang lain.<br>
                  Contoh: Dwi Satria Utama, Surya Widi
                </div>
              </div>
            </div>
          </div>
          <div class="form-group required">
            <label class="control-label col-md-2" for="title">Transaksi</label>
            <div class="col-md-10">
              <input type="text" name="title" class="form-control" id="title" required>
              <div class="form-example">
                Contoh: Hotel Swiss Bell Inn - 2 Kamar 3 Malam
              </div>
            </div>
          </div>
          <div class="form-group required">
            <label class="control-label col-md-2" for="biaya">Biaya</label>
            <div class="col-md-10">
              <div class="input-group">
                <span class="input-group-addon">Rp.</span>
                <input type="number" name="biaya" class="form-control" id="biaya" required>
              </div>
              <div class="form-example">
                Contoh: 2500000
              </div>
            </div>
          </div>
          <div class="form-group required">
            <label class="control-label col-md-2" for="_nota">Nota</label>
            <div class="col-md-10">
              <input type="file" class="btn btn-default input-show-photo" name="_nota" id="_nota" accept="image/png, image/jpeg" required>
              <div class="input-group">
                <img class="img-responsive image-input img-hide-broken output-show-_nota" id="show_nota" src="#" alt="Unggah nota transaksi Anda">
                <button type="button" class="btn btn-fa btn-info btn-round">
                  <i class="material-icons">attach_file</i>
                  Unggah nota
                </button>
              </div>
            </div>
          </div>
          <div id="reimbursement" hidden>
            <h3 class="text-center biryani-yellow-subtitle">Pelunasan</h3>
            <hr>
            <div class="form-group">
              <label class="control-label col-md-2" for="tanggalpelunasan">Tanggal Pelunasan</label>
              <div class="col-md-2">
                <div class="input-group">
                  <input type="date" name="tanggalpelunasan" class="form-control" id="tanggalpelunasan">
                </div>
              </div>
            </div>
            <div id="img2_field" class="form-group">
              <label class="control-label col-md-2" for="_notapelunasan">Nota Pelunasan</label>
              <div class="col-md-10">
                <input type="file" class="btn btn-default input-show-photo" name="_notapelunasan" id="_notapelunasan" accept="image/png, image/jpeg">
                <div class="input-group">
                  <img class="img-responsive image-input img-hide-broken output-show-_notapelunasan" id="show_notapelunasan" src="#" alt="Unggah nota pelunasan transaksi Anda">
                  <button type="button" class="btn btn-fa btn-info btn-round">
                    <i class="material-icons">attach_file</i>
                    Unggah nota pelunasan
                  </button>
                </div>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="col-lg-12 text-center">
              <input type="hidden" name="upload_nota" id="upload_nota">
              <input type="hidden" name="upload_notapelunasan" id="upload_notapelunasan">
              <input type="hidden" name="user_agent" id="user_agent">
              <button type="button" id="preview" class="btn btn-lg btn-danger btn-rounded btn-outline">
                Selanjutnya
              </button>
            </div>
          </div>
        </fieldset>
      </form>
    </div>
    <div class="col-md-10 col-md-offset-1" id="preview_form" hidden>
      <div class="alert alert-danger" style="margin-top: 30px;">
        <h2 class="text-center">Pratinjau Transaksi</h2>
        <p class="text-center">
          Berikut adalah pratinjau laporan transaksi Anda.
          <br>
          Harap pastikan kembali data-data yang telah Anda masukan lalu tekan "Konfirmasi" di bawah.
        </p>
      </div>
      <table class="table text-center" style="margin-top: 50px;">
        <thead>
          <tr>
            <th class="text-center">Nama</th>
            <th class="text-center">Transaksi</th>
            <th class="text-center">Kode Anggaran</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td id="preview_nama"></td>
            <td>
              <p>
                <span id="preview_pelakuTransaksi"></span><span id="preview_title"></span>
              </p>
            </td>
            <td id="preview_kode"></td>
          </tr>
        </tbody>
      </table>
      <table class="table text-center" style="margin-bottom: 50px;">
        <thead>
          <tr>
            <th class="text-center">Tanggal Transaksi</th>
            <th class="text-center">Tanggal Pelunasan</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td id="preview_date"></td>
            <td id="preview_tanggalpelunasan"></td>
          </tr>
          <tr>
            <td>
              <img style="max-height: 200px" class="img-responsive center-block output-show-_nota" id="preview_nota" src="#" />
            </td>
            <td>
              <img style="max-height: 200px" class="img-responsive img-hide-broken center-block output-show-_notapelunasan" id="preview_notapelunasan" src="#" />
            </td>
          </tr>
          <tr>
            <td colspan="2" class="bold-uppercase">Biaya</td>
          </tr>
          <tr>
            <td colspan="2" id="preview_biaya"></td>
          </tr>
        </tbody>
      </table>
      <div class="form-group">
        <div class="col-md-3 col-md-offset-3 text-center">
          <a class="btn btn-lg btn-danger btn-rounded btn-outline wow bounceIn" id="kembali">
            Kembali
          </a>
        </div>
        <div class="col-md-3 text-center">
          <button type="submit" id="sumbitkeuangan" form="keuangan" class="btn btn-lg btn-success btn-rounded btn-outline wow bounceIn">
            Konfirmasi
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
