---
title: Beranda
permalink: "/"
author: Cipta Media
layout: info
startYear: 2018
---

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.2/assets/owl.carousel.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.2/assets/owl.theme.default.css" />
<link rel="stylesheet" href="{{site.baseurl}}/static/css/index.css">

<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.2/owl.carousel.min.js"></script>

<script>
function checkAuth(user) {
  if (!user) {
    netlifyIdentity.on("login", function() {
      document.location.href = "{{site.baseurl}}/formcme.html";
    });
  }

  if (user && (user.user_metadata.registered || user.user_metadata.cme_form_submitted)) {
    $("#registercme").addClass("disabled");
    $("#registercme").text('Sudah Terdaftar!');
  }
}

$(document).ready(function(){
  $("a").on('click', function(event) {
    if (this.hash !== "") {
      event.preventDefault();
      var hash = this.hash;
      $('html, body').animate({
        scrollTop: $(hash).offset().top
      }, 800, function(){
        window.location.hash = hash;
      });
    }
  });

  var user = netlifyIdentity.currentUser();

  $("#registercme").click(function(event){
    if (!user) {
      netlifyIdentity.open();
      return false;
    }
  });

  checkAuth(netlifyIdentity.currentUser());
});

netlifyIdentity.on("init", checkAuth);
</script>

<header id="home">
  <div class="bg-img">
    <div class="bg-overlay"></div>
  </div>
  <div class="home-wrapper">
    <div class="container">
      <div class="row">
        <div class="col-md-10 col-md-offset-1">
          <div class="home-content">
            <img src="{{site.baseurl}}/static/img/landing/logo-ekspresi-typo-w.png" width="500" class="img-responsive center-block" alt="">
            <a class="btn white-btn" href="{{site.baseurl}}/ciptamediaekspresi/">
              Tentang
            </a>
            <a class="btn white-btn" href="{{site.baseurl}}/ciptamediaekspresi/proses">
              Proses Hibah
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
{% include facebook-jssdk.html %}
<div class="container">
{% include latest-blog.html %}
{% include curated-media.html %}
  <div class="section-header text-center">
    <h1 class="allcaps yellow-header">Proyek Terdahulu</h1>
    <hr class="index-hr">
  </div>
  <div class="row index-header-img-row text-center">
    <div class="col-md-6">
      <img id="cms-header" class="img-responsive center-block" src="{{site.baseurl}}/static/img/landing/index-cms.png">
      <a href="{{site.baseurl}}/ciptamediaseluler/tentangcms" class="btn index-header-img-btn btn-rounded btn-outline wow bounceIn">
        Tentang CMS
      </a>
      <a href="{{site.baseurl}}/ciptamediaseluler/proses" class="btn index-header-img-btn btn-rounded btn-outline wow bounceIn">
        Proses CMS
      </a>
    </div>
    <div class="col-md-6">
      <img id="cmb-header" class="img-responsive center-block" src="{{site.baseurl}}/static/img/landing/index-cmb.png">
      <a href="{{site.baseurl}}/ciptamediabersama/tentangcmb" class="btn index-header-img-btn btn-rounded btn-outline wow bounceIn">
        Tentang CMB
      </a>
      <a href="{{site.baseurl}}/ciptamediabersama/proses" class="btn index-header-img-btn btn-rounded btn-outline wow bounceIn">
        Proses CMB
      </a>
    </div>
  </div>
</div>
