---
title: Kontak Kami
layout: form
---

    <link rel="stylesheet" href="{{site.baseurl}}/static/css/index.css">
    <div class="container">
        {% include title-header.html %}
        <div class="row">
            <div class="col-lg-12 text-center">
                <h1 class="allcaps">{{ page.title }}</h1>
            </div>
        </div>
    </div>

    {% include kontak-kami.html %}
