---
title: Kredit
layout: info
---

<link rel="stylesheet" href="{{site.baseurl}}/static/css/index.css">
{% assign category = site.categories['laporan'] %}

<div class="container">
  {% include title-header.html %}
  <div class="row">
    <div class="col-lg-12 text-center">
      <h1 class="allcaps">{{ page.title }}</h1>
    </div>
    <div class="col-lg-10 col-lg-offset-1 text-center">
      <p>Situs web Cipta Media Ekspresi menggunakan teknologi web statis yang dikembangkan oleh PT Wahana Medium Cendekia bekerjasama dengan Wikimedia Indonesia dibawah hibah Peningkatan Kemampuan Teknologi Cipta Media yang didanai oleh Ford Foundation</p>
      <p>Situs Cipta Media juga merupakan arsip dari upaya upaya hibah sebelumnya yang dikelola oleh Wikimedia Indonesia dibawah hibah yang diberikan oleh Ford Foundation yaitu; <a href="https://ciptamedia.org/ciptamediabersama/proses">Cipta Media Bersama</a> dan <a href="https://ciptamedia.org/ciptamediaseluler/proses">Cipta Media Seluler</a></p>
      <p>Teknologi web statis dikembangkan dan dimungkinkan oleh individu individu berbakat dibawah ini:</p>
      <h3>John Mark Vandenberg</h3>
      <p>Research and Development Advisor, Open Source Technologist and Trainer.</p>
      <h3>Dwi Satria Utama (Rio)</h3>
      <p>Web Developer, Aplikasi Seluler, Desain dan Tata Letak Web, Formulir.</p>
      <h3>Marishka Soekarna</h3>
      <p>Ilustrasi mural dan ikon Cipta Media Ekspresi</p>
      <h3>Surya Widi</h3>
      <p>Asisten Web Developer dan Aplikasi Seluler.
      <br>Frontend web specialist</p>
      <h3>Siska Doviana</h3>
      <p>Manager Hibah
      <br>Penanggung Jawab konten, desain, tata letak dan publikasi</p>
      <h3>Ivonne Kristiani</h3>
      <p>Kepala Data Entri
      <br>Konten Arsip Cipta Media Seluler dan Cipta Media Bersama</p>
      <h3>Ellena Ekarahendy</h3>
      <p>Desain web dan tata letak</p>
      <h3>JJ Adibrata</h3>
      <p>Web design dan tata letak</p>
    </div>
  </div>
</div>
