---
title: Terima Kasih
layout: info
---

<div class="container" style="margin-top: 30px;">
  <div class="row text-center">
    <div class="col-lg-12">
      <img class="img-responsive center-block" src="{{site.baseurl}}/static/img/landing/kategori.png">
      <h1 class="index-title">{{ page.title }}</h1>
      <h2 class="index-title">Formulir Anda telah berhasil terkirim.</h2>
      <p>
        Formulir yang Anda kirim akan diperiksa oleh tim Cipta Media Ekspresi dan akan tampil di halaman proyek Anda.<br>
        Untuk kembali ke halaman formulir, klik di bawah ini:
      </p>
    </div>
    <div class="col-md-12">
      <a href="/formkeuangan" class="btn main-btn">Formulir Keuangan</a>
      <a href="/formaktivitas" class="btn main-btn">Formulir Aktivitas</a>
    </div>
  </div>
</div>
