      <p class="field_name">Organisasi</p>
      <p>{{ page.organisasi | xml_escape }}</p>
    </div>
    <div class="col-md-6">
      <p><strong>Deskripsi Proyek</strong></p>
      <p>{{ page.deskripsi | xml_escape | newline_to_br }}</p>
      <p class="field_name">Tipe Konten</p>
      <p>{{ page.tipe | xml_escape | newline_to_br }}</p>
      <p class="field_name">Masalah yang Diangkat</p>
      <p>{{ page.masalah | xml_escape | newline_to_br }}</p>
      <p class="field_name">Solusi</p>
      <p>{{ page.solusi | xml_escape | newline_to_br }}</p>
      <p class="field_name">Strategi Distribusi</p>
      <p>{{ page.strategi | xml_escape | newline_to_br }}</p>
      <p class="field_name">Target Pengguna / Penerima Manfaat</p>
      <p>{{ page.target | xml_escape | newline_to_br }}</p>
      <p class="field_name">Kuantitas Output Konten</p>
      <p>{{ page.kuantitas | xml_escape | newline_to_br }}</p>
      <p class="field_name">Indikator Sukses</p>
      <p>{{ page.sukses | xml_escape | newline_to_br }}</p>
      <p class="field_name">Lokasi</p>
      <p>{{ page.lokasi | xml_escape | newline_to_br }}</p>
      <p class="field_name">Dana yang Dibutuhkan</p>
      <p>{{ page.dana }}</p>
      <p class="field_name">Durasi Proyek</p>
      <p>{{ page.durasi }}</p>
    </div>
