{% if site.commento or site.disqus %}
<a href="#" data-toggle="modal" data-target="#komentar-disqus"><img src="{{site.baseurl}}/static/img/landing/CME_Aset_comment.png" class="img-responsive center-block komentar-btn"></a>
<div class="modal fade" id="komentar-disqus" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <div class="row">
          <div class="col-md-12">
          {% if site.commento %}
            <div id="commento"></div>
            <script src="https://cdn.commento.io/js/commento.min.js"></script>
          {% endif %}
          {% if site.disqus %}
            <div class="col-md-12">
            {% disqus %}
            </div>
          {% endif %}
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>
{% endif %}
