<link rel="stylesheet" href="{{site.baseurl}}/static/css/curated-media.css">

<div class="container">
<div class="row text-center">
    <div class="section-header text-center">
        <h1 class="allcaps yellow-header">Media Sosial</h1>
        <hr class="index-hr">
    </div>
    <div class="col-md-4">
        <h2 class="allcaps">Twitter</h2>
        <a 
           class="twitter-timeline"
           data-height="600"
           data-theme="light"
           href="https://twitter.com/ciptamedia?ref_src=twsrc%5Etfw">
          Tweets by ciptamedia
        </a>
        <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div>
    <div id="curated-media-instagram" class="col-md-4">
        <h2 class="allcaps">Instagram</h2>
        <blockquote class="instagram-media instagram-style-blockquote" data-instgrm-permalink="{{ site.data.curated-media.instagram.url }}" data-instgrm-version="8">
            <div class="instagram-style-shell">
                <div class="instagram-bg">
                    <div class="instagram-bg-img"></div>
                </div>
                <p class="instagram-style-p">
                    <a href="{{ site.data.curated-media.instagram.url }}" class="instagram-style-a" target="_blank">
                        {{ site.data.curated-media.instagram.note }}
                    </a>
                    on {{ site.data.curated-media.instagram.date }}
                </p>
            </div>
        </blockquote>
        <script async defer src="//www.instagram.com/embed.js"></script>
    </div>
    <div class="col-md-4">
        <h2 class="allcaps">Facebook</h2>
        <div
             class="fb-page"
             data-href="https://www.facebook.com/ciptamedia"
             data-tabs="timeline"
             data-height="600"
             data-small-header="false"
             data-adapt-container-width="true"
             data-hide-cover="false"
             data-show-facepile="true">
          <blockquote
                      cite="https://www.facebook.com/ciptamedia"
                      class="fb-xfbml-parse-ignore">
            <a href="https://www.facebook.com/ciptamedia">
              Cipta Media Ekspresi
            </a>
          </blockquote>
        </div>
    </div>
    <div id="curated-media-youtube" class="col-md-8 col-md-offset-2">
        <h2 class="allcaps">YouTube</h2>
        <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="{{ site.data.curated-media.youtube.url }}"></iframe>
        </div>
    </div>
</div>
</div>
