<link rel="stylesheet" href="{{site.baseurl}}/static/css/license-alert.css">

<div id="license-alert" class="alert blue-link">
  <button type="button" class="close btn-alert" data-dismiss="alert" aria-label="Tutup" style="color: #000">
    <span aria-hidden="true">&times;</span>
  </button>
  <div class="text-center">
    <h3 class="allcaps">Hadirilah</h3>
    <h1 class="allcaps">Festival Cipta Media Ekspresi</h1>
  </div>
  <div class="text-center">
    <a href="{{site.baseurl}}/ciptamediaekspresi/festival-cme">Jadwal Acara</a>
  </div>
</div>
