<style>
  .fa-check {
    color: #2DC464;
  }
  .fa-times {
    color: #F85154
  }
  .tab-content > .active {
    display: table-row;
  }
  .table > tbody > tr.active > td {
    background-color: white;
  }
</style>

<link rel="stylesheet" href="{{site.baseurl}}/static/css/index.css">

<div class="container">
  {% include title-header.html %}
  <div class="row">
    <div class="col-lg-12 text-center">
      <h1 class="allcaps">{{ page.title }}</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12 text-center">
      <button type="button" id="clear" class="btn btn-danger btn-xs">Clear</button>
      <a href=".semua" class="btn btn-danger btn-xs" data-toggle="pill"><strong>Semua</strong></a>
    </div>
    <div class="col-lg-12 text-center">
      {% assign kode_array = "" | split: ' ' %}
      {% assign b = 0 %}
      {% for item in structure.laporan %}
      {% assign detail = item[1] %}
      {% for subkode in detail.subkode %}
      {% assign a = subkode[0] %}
      {% if b != a %}
      {% assign kode_array = kode_array | push: subkode[0] %}
      <a href=".{{ subkode[0] }}" class="btn btn-danger btn-xs" data-toggle="pill"><strong>{{ subkode[0] }}</strong></a>
      {% endif %}
      {% assign b = a %}
      {% endfor %}
      {% endfor %}
    </div>
    <div class="col-lg-12 text-center">
      <a href=".other" class="btn btn-danger btn-xs" data-toggle="pill"><strong>Lainnya</strong></a>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      {% assign budget_link = page.permalink | split: '/' %}
      {% assign hibah_link = budget_link[1] %}
      {% assign link = budget_link | last %}
      <a href="{{ site.baseurl }}/{{ hibah_link }}/rincian-anggaran/{{ link }}/" class="btn btn-danger btn-xs"><strong>Rincian Anggaran</strong></a>
      <table class="table">
        <thead class="text-danger">
          <th width="5%" class="text-center">Kode</th>
          <th width="45%" class="text-left">Rincian</th>
          <th width="10%" class="text-left">Tanggal</th>
          <th width="10%" class="text-center">Status Penggantian</th>
          <th width="10%" class="text-right">Anggaran</th>
          <th width="10%" class="text-right">Pengeluaran</th>
          <th width="10%" class="text-right">Sisa</th>
        </thead>
        <tbody class="tab-content">
          {% for detail in structure.laporan %}
            {% assign item = detail[1] %}
            {% for anggarandetail in item.subkode %}
          <tr class="{{ anggarandetail[0] }} tab-pane fade active in">
            <td width="5%"><strong><p class="text-center">{{ anggarandetail[0] }}</p></strong></td>
            <td width="45%">
              <strong>
                <p class="text-left">
                  <a href=".{{ anggarandetail[0] }}"data-toggle="pill">
                    {{ anggarandetail[1].keterangan }}
                  </a>
                </p>
              </strong>
            </td>
            <td width="10%"></td>
            <td width="10%"></td>
            <td width="10%">
              <strong><p class="text-right">
                {% assign sum_satuan = 1 %}
                {% for satuan in anggarandetail[1].dimensi %}
                  {% assign sum_satuan = sum_satuan | times: satuan[1] %}
                {% endfor %}
                <span class="money">{{- anggarandetail[1].harga | times: sum_satuan -}}</span>
              </p></strong>
            </td>
            <td width="10%">
                {% assign total_cost = 0 %}
                {% for item in dataset %}
                  {% if anggarandetail[0] == item.kode %}
                    {% assign total_cost = total_cost | plus: item.biaya %}
                  {% endif %}
                {% endfor %}
              <strong><p class="text-right money">{{- total_cost -}}</p></strong>
            </td>
            <td width="10%">
                {% assign sum_satuan = 1 %}
                {% for satuan in anggarandetail[1].dimensi %}
                  {% assign sum_satuan = sum_satuan | times: satuan[1] %}
                {% endfor %}
                {% assign total_anggaran = anggarandetail[1].harga | times: sum_satuan %}
                {% assign sisa_saldo = total_anggaran | minus: total_cost %}
                {% if sisa_saldo > 0 %}
                  {% assign color = "2DC464" %}
                {% elsif sisa_saldo == 0 %}
                  {% assign color = "dddddd" %}
                {% else %}
                  {% assign color = "F85154" %}
                {% endif %}
              <strong><p class="text-right money" style="color: #{{ color }}">{{- sisa_saldo -}}</p></strong>
            </td>
          </tr>
            {% endfor %}
          {% endfor %}
          <tr class="semua tab-pane fade active in">
            <td width="5%"></td>
            <td width="45%"><strong><p class="text-left">Total</p></strong></td>
            <td width="10%"></td>
            <td width="10%"></td>
            {% for detail in structure.laporan %}
              {% assign item = detail[1] %}
              {% for grand_total in item.subkode %}
                {% assign sum_satuan = 1 %}
                {% for satuan in grand_total[1].dimensi %}
                  {% assign sum_satuan = sum_satuan | times: satuan[1] %}
                {% endfor %}
                {% assign totalcost = grand_total[1].harga | times: sum_satuan %}
                {% assign grand_total_budget = grand_total_budget | plus: totalcost %}
              {% endfor %}
            {% endfor %}
            <td width="10%"><strong><p class="text-right money">{{- grand_total_budget -}}</p></strong></td>
            {% for item in dataset %}
              {% assign total_expenses = total_expenses | plus: item.biaya %}
            {% endfor %}
            <td width="10%"><strong><p class="text-right money">{{- total_expenses -}}</p></strong></td>
            {% assign sisa = grand_total_budget | minus: total_expenses %}
            {% if sisa > 0 %}
              {% assign color = "2DC464" %}
            {% elsif sisa_saldo == 0 %}
              {% assign color = "dddddd" %}
            {% else %}
              {% assign color = "F85154" %}
            {% endif %}
            <td width="10%"><strong><p class="text-right money" style="color: #{{ color }}">{{- sisa -}}</p></strong></td>
          </tr>
          {% for item in dataset reversed %}
          <tr class="{% if kode_array contains item.kode %}{{ item.kode }}{% else %}other{% endif %} semua tab-pane fade">
            <td width="5%"></td>
            <td width="45%">
              <strong><p class="text-left">{{ item.nama }}</p></strong>
              <p class="text-left">{{ item.title }}</p>
            </td>
            <td width="10%"><strong><p class="text-left">{{ item.date | date: site.table_date_format }}</p></strong></td>
            <td width="10%">
              <strong><p class="text-center">
                <a href="#" data-toggle="modal" data-target="#transaction-detail" 
                   data-nama="{{ item.nama }}"
                   data-kode="{{ item.kode }}"
                   data-title="{{ item.title | xml_escape }}"
                   data-biaya="{{ item.biaya }}"
                   data-date="{{ item.date | date: site.table_date_format }}"
                   data-anggaran="{{ item.anggaran | xml_escape }}"
                   data-nota="{% if item.nota.url %}{{ item.nota.url }}{% else %}{{ item.nota }}{% endif %}"
                   data-tanggalpelunasan="{{ item.tanggalpelunasan | date: site.table_date_format }}"
                   data-notapelunasan="{% if item.notapelunasan.url %}{{ item.notapelunasan.url }}{% else %}{{ item.notapelunasan }}{% endif %}">
                  {% if item.tanggalpelunasan %}
                  <i class="fa fa-check" aria-hidden="true"></i>
                  {% else %}
                  <i class="fa fa-times" aria-hidden="true"></i>
                  {% endif %}
                </a>
              </p></strong>
            </td>
            <td width="10%"></td>
            <td width="10%"><strong><p class="text-right money">{{- item.biaya -}}</p></strong></td>
            <td width="10%"></td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
<div class="modal fade" id="transaction-detail" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h3>Status Pelunasan</h3>
        <h4 class="modal-subtitle"></h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-12">
            <table class="table text-center">
              <thead>
                <tr>
                  <th class="text-center">Nama</th>
                  <th class="text-center">Transaksi</th>
                  <th class="text-center">Kode Anggaran</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td><p class="modal-nama"></p></td>
                  <td><p class="modal-judul"></p></td>
                  <td><p class="modal-kode"></p></td>
                </tr>
              </tbody>
            </table>
            <table class="table text-center">
              <thead>
                <tr>
                  <th class="text-center">Tanggal Transaksi</th>
                  <th class="text-center">Tanggal Pelunasan</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td><p class="modal-date"></p></td>
                  <td><p class="modal-tanggalpelunasan"></p></td>
                </tr>
                <tr>
                  <td width="50%">
                    <a class="modal-nota" target="_blank">
                      <img class="modal-nota img-responsive center-block">
                      <p class="nota-placeholder"></p>
                    </a>
                  </td>
                  <td width="50%">
                    <a class="modal-notapelunasan" target="_blank">
                      <img class="modal-notapelunasan img-responsive center-block">
                      <p class="notapelunasan-placeholder"></p>
                    </a>
                  </td>
                </tr>
                <tr>
                  <td colspan="2">
                    <strong>BIAYA</strong>
                  </td>
                </tr>
                <tr>
                  <td colspan="2">
                    <p class="modal-biaya money"></p>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<script>
$('.money').each(function() {
  var number = +$(this).text()
  $(this).text(number.toLocaleString('id-ID'));
});

$("#clear").click(function(){
  location.reload();
});
  
$('#transaction-detail').on('show.bs.modal', function (event) {
  var button = $(event.relatedTarget)
  const wikiFile = "/File:"
  var nama = button.data("nama")
  var kode = button.data("kode")
  var title = button.data("title")
  var biaya = button.data("biaya")
  var date = button.data("date")
  var anggaran = button.data("anggaran")
  var nota = button.data("nota")
  var tanggalpelunasan = button.data("tanggalpelunasan")
  var notapelunasan = button.data("notapelunasan")
  var modal = $(this)
  modal.find('.modal-subtitle').text( kode + " - " + title )
  modal.find('.modal-kode').text(kode)
  modal.find('.modal-nama').text(nama)
  modal.find('.modal-judul').text(title)
  modal.find('.modal-biaya').text(biaya)
  modal.find('.modal-date').text(date)
  modal.find('.modal-tanggalpelunasan').text(tanggalpelunasan)
  
  if ( nota == "" ){
    modal.find('img.modal-nota').removeAttr("src")
    modal.find('a.modal-nota').removeAttr("href")
    modal.find('p.nota-placeholder').text("-")
  } else if ( nota.indexOf(wikiFile) > -1 ) {
    modal.find('img.modal-nota').removeAttr("src")
    modal.find('a.modal-nota').attr("href",nota)
    modal.find('p.nota-placeholder').text("NOTA")
  } else {
    modal.find('img.modal-nota').attr("src",nota)
    modal.find('a.modal-nota').attr("href",nota)
    modal.find('p.nota-placeholder').empty()
  }
  
  if ( notapelunasan == "" ){
    modal.find('img.modal-notapelunasan').removeAttr("src")
    modal.find('a.modal-notapelunasan').removeAttr("href")
    modal.find('p.notapelunasan-placeholder').text("-")
  } else if ( notapelunasan.indexOf(wikiFile) > -1 ) {
    modal.find('img.modal-notapelunasan').removeAttr("src")
    modal.find('a.modal-notapelunasan').attr("href",notapelunasan)
    modal.find('p.notapelunasan-placeholder').text("NOTA PELUNASAN")
  } else {
    modal.find('img.modal-notapelunasan').attr("src",notapelunasan)
    modal.find('a.modal-notapelunasan').attr("href",notapelunasan)
    modal.find('p.notapelunasan-placeholder').empty()
  }
})
</script>
