<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-year-calendar/1.1.1/js/bootstrap-year-calendar.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-year-calendar/1.1.1/css/bootstrap-year-calendar.min.css" />

<div class="container">
  <div class="row">
    <div class="col-lg-12 text-center">
      <div id="calendar" class="calendar"></div>
    </div>
    <script>
      var dataSource = [
        {% for post in category %}
          {
            name: '{{ post.title }}',
            location: '{{ post.categories | last }}',
            url: '{{ post.url }}',
            startDate: new Date({{ post.date | date: "%Y" }}, {{ post.date | date: "%m" | minus: 1 }}, {{ post.date | date: "%e" }}),
            endDate: new Date({{ post.date | date: "%Y" }}, {{ post.date | date: "%m" | minus: 1 }}, {{ post.date | date: "%e" }}),
          },
        {% endfor %}
        {% for laporan-aktivitas in site.laporan-aktivitas %}
          {
            name: '{{ laporan-aktivitas.title }}',
            location: '{{ laporan-aktivitas.proyek }}',
            url: '{{ laporan-aktivitas.url }}',
            startDate: new Date({{ laporan-aktivitas.date | date: "%Y" }}, {{ laporan-aktivitas.date | date: "%m" | minus: 1 }}, {{ laporan-aktivitas.date | date: "%e" }}),
            endDate: new Date({{ laporan-aktivitas.date | date: "%Y" }}, {{ laporan-aktivitas.date | date: "%m" | minus: 1 }}, {{ laporan-aktivitas.date | date: "%e" }}),
          },
        {% endfor %}
        {% for post in upcoming %}
          {
            name: '{{ post.title }}',
            location: '{{ post.proyek }}',
            url: '{{ post.url }}',
            color: '#6ca59a',
            startDate: new Date({{ post.event-startDate | date: "%Y" }}, {{ post.event-startDate | date: "%m" | minus: 1 }}, {{ post.event-startDate | date: "%e" }}),
            endDate: new Date({{ post.event-endDate | date: "%Y" }}, {{ post.event-endDate | date: "%m" | minus: 1 }}, {{ post.event-endDate | date: "%e" }}),
          },
        {% endfor %}
      ];
      {% if page.startYear %}
        var startYear = {{ page.startYear }};
      {% endif %}
    </script>
    <script src="/static/js/calendar.js"></script>
  </div>
</div>
