<div class="row">
  <div class="col-md-12 index-col">
    <h1 class="text-center allcaps yellow-header">Artikel Terbaru</h1>
    <hr class="index-hr">
    {% for post in site.posts %}
    {% unless post.categories contains 'laporan' %}
    {% assign total-post = total-post | plus: 1 %}
    <div class="row">
      <div class="col-sm-2 col-sm-offset-1 col-xs-12 vcenter">
        <img src="{{ post.img }}" class="img-responsive center-block" style="max-height:140px">
      </div><!--
      --><div class="col-sm-8 col-xs-12 vcenter">
        <a href="{{ post.url | prepend: site.baseurl }}"><h3>{{ post.title }}</h3></a>
        <i class="fa fa-clock-o"></i> <a>{{ post.date | date: site.default_date_format }}</a>
        <p>{{ post.content | strip_html | truncatewords:30 }}</p>
        <div class="row">
          <div class="col-sm-12">
            {% for tag in post.tags %}
            <button class="btn btn-white btn-xs" type="button">{{ tag }}</button>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
    {% if total-post == site.index_post_count %}
      {% break %}
    {% endif %}
    {% endunless %}
    {% endfor %}
    <div class="text-center">
      <a href="{{site.baseurl}}/blog/" class="btn btn-lg btn-info btn-rounded btn-outline wow bounceIn">
        Selengkapnya
      </a>
    </div>
  </div>
</div>
