<script>
  function checkAuth(user) {
    if (user) {
      return setIdentity(user);
    }
  }
  function checkSubmitted(user) {
    var $form = $('form[data-single-use!="false"]');
    if ($form.length < 1) {
      return false;
    }
    var singleUse = $form.data('singleUse');
    var singleUseKey = $form.attr('name');
    if (typeof singleUse === 'string') { // Custom flag name
      singleUseKey = singleUse;
    }
    var submittedFlag = singleUseKey + '_form_submitted';
    return user.user_metadata[submittedFlag];
  }
  function setIdentity(user) {
    $(function() {
      $("#auth_name").val(user.user_metadata.full_name);
      {% unless page.title == 'Pendaftaran Data Diri Cipta Media' %}
      $("#nama").val(user.user_metadata.full_name);
      $("#loginwarning").hide();
      {% endunless %}
      $("#email").val(user.email);
      if (checkSubmitted(user)) {
        $('#submittedwarning').show();
      } else {
        if( $('#next-step').length ){
          $('#next-step').show();
        } else {
          $("#form-fieldset").removeAttr('disabled');
        }
      }
    });
  }
  $(document).ready(function() {
    $('#login').click(function() {
      netlifyIdentity.open();
    });
  });
  netlifyIdentity.on('login', checkAuth);
</script>

{% unless page.title == 'Pendaftaran Data Diri Cipta Media' %}
<div id="loginwarning" class="text-center alert alert-danger login-alert">
  <h2>Anda belum login</h2>
  <p>Harap login untuk mengisi formulir dibawah</p>
  <button type="button" id="login" class="btn btn-lg btn-warning btn-rounded btn-outline">Login</button>
</div>
{% endunless %}

<div id="submittedwarning" class="text-center alert alert-danger login-alert" hidden>
  <h2>Anda sudah mengisi formulir ini</h2>
  <a href="/" class="btn btn-lg btn-rounded btn-outline">Kembali ke Beranda</a>
</div>
