<link rel="stylesheet" href="{{site.baseurl}}/static/css/index.css">

<div class="container">
  {% include title-header.html %}
  <div class="row">
    <div class="col-lg-12 text-center">
      <h1 class="allcaps">{{ page.title }}</h1>
      <hr class="index-hr">
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <a href="peluncuran">
        <div class="card">
          <div class="card-image">
            <img class="img-responsive" src="/static/img/landing/peluncuran{{ page.project }}.jpg">
          </div>
          <div class="card-body text-center">
            <h1>Peluncuran</h1>
          </div>
        </div>
      </a>
    </div>
    <div class="col-md-4">
      <a href="evaluasi">
        <div class="card">
          <div class="card-image">
            <img class="img-responsive" src="/static/img/landing/evaluasi{{ page.project }}.jpg">
          </div>
          <div class="card-body text-center">
            <h1>Evaluasi</h1>
          </div>
        </div>
      </a>
    </div>
    <div class="col-md-4">
      <a href="penerimahibah">
        <div class="card">
          <div class="card-image">
            <img class="img-responsive" src="/static/img/landing/penerima{{ page.project }}.jpg">
          </div>
          <div class="card-body text-center">
            <h1>Penerima Hibah</h1>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>
