#not-logged-in-message {
  position: fixed;
  width: 100%;
  z-index: 10;
}

.login-alert {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

.form-group.required .control-label:after {
  content: "*";
  color: red;
}

/* jQuery validation creates error message
as label, which has lower precedence than
the form-group DIV from material-kit. */

[id$=error] {
  color: red !important;
  font-weight: bold !important;
}

.form-example {
  font-size: 85%;
}
