---
nomor: 995
nama: Kahi Ata Ratu
foto: /static/img/hibahcme/0995.jpg
title: Perempuan Sumba dan Musik Tradisional
lokasi: Waingapu / Sumba Timur / Nusa Tenggara Timur
ringkasan: >-
  Upaya revitalisasi dan regenerasi pengetahuan dan pelestarian seni budaya Sumba, musik Jungga, alat musik petik yang akan diajarkan oleh maestro Kahi Ata Ratu kepada anak-anak Sumba Timur. Pada saat yang sama akan dilakukan upaya riset dan kolaborasi dalam merekam dan mencatat para musikus yang piawai memain-nyanyikan musik dalam bahasa Kamberra, untuk memperkaya khazanah musik/nyanyian Sumba Timur dan Nusantara, sebagai sumber inspirasi bagi karya-karya baru seniman musik di Sumba dan di tempat lain di Indonesia.
  <br>
  <br>
  <a href="https://www.youtube.com/channel/UChO6q6ZANyGT7j6P6RyU6aw/videos">Channel YouTube Kahi Ata Ratu</a>
profil: |-
  Ata Ratu adalah pemain jungga yang berasal dari desa Rindi, Sumba Timur. Ia memulai karirnya pada usia 8 tahun bersama 3 orang teman perempuannya. Di usia 13 tahun, ia menulis lagu pertamanya yang didedikasikan untuk pria yang dicintainya. Kegigihannya membuatnya bertahan dari tantangan patriarki budaya Sumba Timur yang mengharuskan perempuan mengabdikan diri hanya untuk suami dan keluarga. “Main jungga sampai mati” adalah motto yang dipegang teguh olehnya.
kategori: kerjasama_kolaborasi
durasi: 9 bulan
approved_dana: 150
proposal: /ciptamediaekspresi/proposal-lengkap/perempuan-sumba-dan-musik-tradisional
budget: /ciptamediaekspresi/rincian-anggaran/perempuan_sumba_dan_musik_tradisional/
finance: /ciptamediaekspresi/laporan-keuangan/perempuan_sumba_dan_musik_tradisional/
naratif: /ciptamediaekspresi/laporan-naratif/perempuan-sumba-dan-musik-tradisional
karya:
  - buku:
    - name: Songs of Ata Ratu
      url: "/uploads/karya/book/Songs_of_Ata_Ratu.pdf"
      thumb: "/uploads/karya/img/page1-1240px-Songs_of_Ata_Ratu.pdf.jpg"
  - video:
    - name: "Konser musik Jungga yang pertama di Bali:"
      url: WBGEYLxRy48
    - name: "Konser musik tradisional Sumba dengan musisi perempuan lokal Bali:"
      url: o7Oq4_UtL3k
    - name: "Konser musik tradisional perempuan Sumba di Ubud, Bali:"
      url: 2EAkhRwQuqQ
    - name: "Konser Jungga yang pertama di Sumba (Festival Jungga Waingapu)"
      url: HJLndPVDmZw
    - name: ""
      url: JE_MO6Ps5ak
    - name: ""
      url: mJEJjjm7GCk
    - name: ""
      url: qZRz-wejwyc
    - name: ""
      url: ZLLLARBV9hs
layout: penerimacme
---
