---
title: Siaran Pers Cipta Media Ekspresi
layout: info
---

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.2/assets/owl.carousel.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.2/assets/owl.theme.default.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.2/owl.carousel.min.js"></script>

    <div class="container" style="margin-top: 30px;">
        <div class="row">
            <div class="col-lg-12 text-center">
                <img class="img-responsive center-block" src="{{site.baseurl}}/static/img/landing/kategori.png">
                <h1 class="index-title">{{ page.title }}</h1>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <p><b>Siaran Pers</b>: untuk disebarluaskan<p>
                <p>Jakarta 21 April 2018<p>
                <h2 class="index-title text-center">Pengumuman Penerima Hibah Seni dan Budaya 3,5 M Cipta Media Ekspresi</h2>
                <p>
                    Cipta Media Ekspresi - hibah untuk perempuan pelaku kebudayaan di segala bidang seni yang didanai oleh Ford Foundation dan dikelola oleh Wikimedia Indonesia telah menerima 1.168 (seribu seratus enam puluh delapan) permohonan hibah dari 34 provinsi di Indonesia. Seluruh permohonan hibah  dipelajari oleh delapan juri independen, yaitu Aleta Baun (aktivis lingkungan dan politisi), Andy Yentriyani (aktivis perempuan dan keberagaman), Cecil Mariani (perancang grafis dan pelaku koperasi), Heidi Arbuckle (penggagas hibah Cipta media dan peneliti sejarah senirupa), Intan Paramaditha (penulis fiksi dan pelaku kajian media), Lisabona Rahman (Ketua Juri, pelaku arsip dan pendataan sejarah film), Naomi Srikandi (aktor/sutradara teater dan pegiat jaringan antara seniman dengan aktivis), Nyak Ina Raseuki (pesuara dan etnomusikolog) selama lima hari lima malam.
                </p>
                <p>
                    Keragaman profil pemohon hibah ini luar biasa, mulai dari umur - di mana pemohon hibah tertua berusia 85 tahun dan yang termuda adalah 19 tahun. Mereka yang memiliki asal usul dan bergerak di bidang seni yang berbeda seperti <i>sindhen</i>, rocker, santri, buruh, ibu rumah tangga hingga tokoh adat mengangkat upaya perempuan dalam seni dan budaya sejak abad ke-19 - masa penjajahan saat Indonesia belum ada - hingga masa kemerdekaan dan reformasi politik. “Besar jumlah dan beragamnya peserta perempuan dalam Cipta Media Ekspresi tahun ini setidaknya membuktikan bahwa perempuan ingin dan mampu menjadi agen perubahan sosial. Ini sekaligus menyangkal alasan klise yang sering digunakan untuk menyingkirkan partisipasi perempuan dalam kegiatan sosial, budaya dan politik,” ujar Heidi Arbuckle dari Ford Foundation.
                </p>
                <p>
                    Saat ditanya mengenai keputusan juri akan penerima hibah, Lisabona Rahman sebagai Ketua Juri Cipta Media Ekspresi menyayangkan bahwa jumlah dana hibah yang bisa diberikan terbatas, akan tetapi hal ini menjadi pemacu untuk kerja penjurian. “Pilihan-pilihan yang dijatuhkan menantang para juri untuk melampaui seleranya masing-masing, kami harus bergulat membagi dana yang tersedia untuk pemohon hibah terpilih berdasarkan permohonan dari seluruh Nusantara mulai dari ujung Aceh, Boven Digul, Adonara, hingga Kepulauan Anambas,” Katanya.
                </p>
                <p>
                    Total dana disebarluaskan Rp.3,325,730,000 (Tiga Milyar Tiga Ratus Dua Puluh Lima Juta Tujuh Ratus Tiga Puluh Ribu Rupiah) dimana Rp.174,270,000 (Seratus Tujuh Puluh Empat Juta Dua Ratus Tujuh Puluh Ribu Rupiah) disisihkan untuk penguatan kapasitas penerima hibah dan inkubator ide. Lokasi proyek yang dibiayai oleh Cipta Media Ekspresi meliputi Aceh, Bali, Yogyakarta, Jakarta, Jawa Barat, Jawa Tengah (jumlah terbanyak), Jawa Timur, Kalimantan Barat, Maluku Utara, Maluku, Nusa Tenggara Barat, Nusa Tenggara Timur, Papua, Sulawesi Selatan, Sulawesi Tengah, Sumatera Barat, dan Sumatera Utara.
                </p>
                <p>
                    Berikut adalah pernyataan juri untuk penerima hibah Cipta Media Ekspresi berdasarkan nomor urut proyek yang diajukan secara daring via situs <a href="https://www.ciptamedia.org/">www.ciptamedia.org</a>:
                </p>
                <ol>
                    <li><b>
                        Sanchia Tryphosa Hamidjaja - 0014 Seragam Merah Jambu/ In Pink Uniform (novel grafis) Rp.88 juta - Kategori Kerjasama/Kolaborasi.
                    </b></li>
                    <p>
                        Novel grafis ini menyoal sekaligus merekam kelindan pilihan perempuan dalam peran dan relasinya dengan masyarakat dan lapis institusi-institusinya. Sanchia sebagai seniman ilustrasi lintas media secara reflektif menantang pilihan subyek tema maupun praktik seninya sendiri. Ia merangkaikan sudut pandang seputar kompleksitas antara peran yang diambil maupun pilihan yang dilepaskan perempuan untuk dan dalam pernikahan, beranjak dari narasi kecil perempuan membentang ke konteks persoalan yang lebih besar hingga institusi politis. Karya ini kami anggap bisa memicu diskusi yang lebih mendalam perihal imajinasi pilihan hidup perempuan yang tak nampak dari sepintas pilihan gaya hidup yang tampil di permukaan.
                    </p>
                    <li><b>
                        Mona Sylviana - 0049 Narasi Selembar Kain Rp.50 juta (sastra) - Kategori Perjalanan.
                    </b></li>
                    <p>
                        Berada dalam kategori perjalanan, proyek ini memungkinkan penggagas menelusuri isu di luar zona nyamannya, mengupayakan pertukaran budaya, dan mengolah pengalaman perempuan yang ditemuinya dalam sebuah narasi. Kami memandang Mona Sylviana sebagai penulis yang memiliki komitmen tinggi dan memiliki perspektif gender yang kritis dalam karya-karyanya. Selanjutnya, kami berharap proyek ini tidak hanya memberi nilai tambah pada kerja Mona di dunia sastra namun juga memungkinkan dialog antarperempuan serta kolaborasi lintas budaya yang lebih jauh.
                    </p>
                    <li><b>
                        Chonie Prysilia - 0062 Kosong Rp. 250 juta (Film Animasi) kategori Akses.
                    </b></li>
                    <p>
                        Film animasi dapat menjembatani dialog yang sulit tercipta dalam ruang riil, dalam hal ini pada kasus intervensi masyarakat atas tubuh dan hak reproduksi perempuan. Chonie Prysilia memulai karir penyutradaraannya dengan menyediakan corong bagi suara-suara perempuan yang mau berbagi pendapat tentang haknya menentukan pilihan. Cerita-cerita mereka diharapkan dapat menyadarkan masyarakat untuk berhenti menghakimi lalu mendukung perempuan memegang kendali atas hidupnya dan bahwa melahirkan anak bukanlah satu-satunya fungsi tubuh perempuan di dunia ini.
                    </p>
                    <li><b>
                        Indah Fikriyyati - 0092 Art Exhibition “Santriwati dan Giraffes Kingdom” Rp. 20 juta (Seni Rupa) Kategori Akses.
                    </b></li>
                    <p>
                        Proyek ini berpotensi membuka ruang bagi santri perempuan untuk berkarya di bidang seni rupa dan menyumbangkan pandangannya di lingkungan yang lebih luas. Indah Fikriyyati adalah seorang santri yang terus berkarya terlepas dari keterbatasan yang ia hadapi, dan kami mendukungnya untuk lebih jauh melakukan eksplorasi atas konsep dan perspektif melalui sebuah inkubator yang memungkinkan ia mempertajam desain proyeknya. Di masa depan, kami mengharapkan lebih banyak suara santri perempuan yang merespon lingkungannya secara kritis melalui medium seni.
                    </p>
                    <li><b>
                        Agnes Serfozo - 0150 Revitalisasi Akses Panjak Perempuan Dalam Seni Seblang Rp. 50 juta (Seni Pertunjukan) Kategori Akses.
                    </b></li>
                    <p>
                        Proyek ini mengambil bagian dalam menggerakkan kembali <i>panjak</i> (pemain gamelan) perempuan di dalam seni <i>seblang</i>, sebuah ritual dalam masyarakat Osing di desa Bakungan, Bayuwangi. Agnes Serfozo, yang berasal dari Hongaria, menekuni tradisi <i>sindhen</i> dan sudah sering bekerjasama dengan beberapa dalang wayang kulit terkemuka. Keterlibatannya di dalam musik gamelan Jawa, terutama Jawa Tengah, akan memperlancar usahanya dalam mempelajari musik Banyuwangi. Ketertarikannya pada ritual <i>seblang</i> sebagai perpanjangan penelitiannya yang berkaitan dengan budaya Osing, diharapkan dapat membantu para <i>panjak</i> perempuan menghidupkan kembali <i>gendhing-gendhing</i> berkaitan dengan perempuan dalam perspektif yang baru.
                    </p>
                    <li><b>
                        Endah Fitriana - 0164 Pembelian Gamelan Rp. 384 juta (Musik) Kategori Lintas generasi.
                    </b></li>
                    <p>
                        <i>Macapatan</i> adalah media belajar sehari-hari yang dikuasai oleh para perempuan Sedulur Sikep di Kendeng Utara dalam membicarakan nilai-nilai spiritual mereka mengenai pentingnya masyarakat terlibat dalam persoalan lingkungan hidup sejak di lingkup terkecilnya yaitu keluarga. Endah Fitriana adalah salah satu perempuan dewasa generasi sekarang yang terlibat aktif dalam mengajarkan nilai-nilai tersebut melalui pendidikan <i>macapatan</i> bersama anak-anak di Omah Kendeng. Penggantian gamelan yang sudah rusak parah dengan seperangkat gamelan baru yang layak untuk aktivitas <i>macapatan</i> diharapkan dapat meningkatkan kualitas  akses para perempuan Sedulur Sikep bersama generasi barunya dalam terus mempercakapkan nilai-nilai spiritual kritis melalui ekspresi kebudayaan mereka.
                    </p>
                    <li><b>
                        Wenda Maria Imakulata Tokomonowir - 0199 Papuan Voices Rp. 126 juta (Film) Kategori Akses.
                    </b></li>
                    <p>
                        Pembuatan film dokumenter tentang keanekaragaman hayati dan budaya di tanah Papua yang diusulkan oleh seorang pembuat film handal yang sudah diakui oleh berbagai penghargaan. Proyeknya berharap memunculkan perspektif perempuan asli Papua atas persoalan adat, kesehatan dan pendapatan orang di Papua.
                    </p>
                    <li><b>
                        Delva Rahman - 0214 Bakureh Project Rp. 100 juta (riset partisipatif) Kategori Riset/ Kajian/ Kuratorial.
                    </b></li>
                    <p>
                        Tradisi Bakureh di Solok dan peran perempuan di dalamnya adalah sebuah fenomena budaya yang patut dikaji lebih dalam, didokumentasikan, dan dilestarikan. Delva Rahman adalah seorang penggagas muda yang memiliki komitmen dalam penelitian dan kolaborasi, memiliki perspektif gender progresif, dan menempatkan dirinya dalam jaringan lintas disiplin. Kami berharap proyek ini dapat memberikan analisis yang tajam terhadap peran sosial perempuan dalam tradisi Bakureh, melibatkan lebih banyak perempuan dalam kolaborasi dan diskusi, serta memberi inspirasi bagi generasi muda dalam upaya pelestarian adat yang disertai sikap kritis.
                    </p>
                    <li><b>
                        Norci Nomleni - 0216 Pengembangan Kreativitas Dalam Budaya Timor Rp. 50 juta (Tenun) Kategori Kerjasama/ Kolaborasi.
                    </b></li>
                    <p>
                        Inisiatif yang mengangkat kreativitas dan budaya Timor melalui bahan daur ulang dengan modifikasi motif tenunan. Penggagas bersama kelompok perempuan berhasil membuat produk yang unik dalam melestarikan nilai-nilai budaya lokal Timor. Harapannya proyek ini dapat meningkatkan kreativitas serta ketahanan ekonomi kelompok tenun di berbagai pelosok desa.
                    </p>
                    <li><b>
                        Intan Andaru - 0313 Penulisan Novel Tentang Wabah Campak dan Gizi Buruk di Asmat Rp. 50 juta (Sastra) Kategori Perjalanan.
                    </b></li>
                    <p>
                        Perjalanan penulis untuk mengunjungi tempat-tempat yang jauh darinya kerap dilakukan, tapi terlampau sering terjadi di tempat-tempat wisata dengan alam yang cantik-nyaman dan kebanyakan di luar Indonesia. Proyek ini penting karena keluar dari pola yang lazim itu. Intan Andaru adalah seorang dokter sekaligus penulis yang ingin menggali pengalaman masyarakat di tempat yang jauh dari jangkauan fasilitas teknologi dan kesehatan. Riset ini diharapkan dapat membantunya menghasilkan cerita yang kaya dengan pemahaman akan faktor-faktor yang saling tarik-menarik mempengaruhi kehidupan perempuan: kehidupan keluarga, adat dan ekonomi politik.
                    </p>
                    <li><b>
                        Septina Rosalina Layan - 0322 Mendokumentasi Nyanyian Tradisi suku Yaghai Rp. 60 juta (Etnomusikologi) Kategori Riset/ Kajian/ Kuratorial.
                    </b></li>
                    <p>
                        Perekaman dan pencatatan nyanyian di Kabupaten Mappi ini bukan hanya bagian dari usaha melanjutkan tradisi nyanyian perempuan, namun juga upaya meluaskan pengetahuan dan pemahaman keragaman budaya di Papua melalui nyanyian. Septina Rosalina Layan sungguh-sungguh mempelajari berbagai nyanyian di Papua, bukan hanya karena ia lahir dan besar di sana, namun juga karena ia tergelisahkan untuk meneruskan nyanyian beserta berbagai pengetahuan setempat yang terkandung di dalam khazanah nyanyian itu, terutama bagi masyarakat pendukung tradisi yang bersangkutan, maupun masyarakat musik yang lebih luas.
                    </p>
                    <li><b>
                        Erni H Aladjai - 0353 Ramuan Nenek (merawat perempuan pasca bersalin secara alami) Rp. 78 juta (Kolaborasi Intradisipliner) Kategori Kerjasama/ Kolaborasi.
                    </b></li>
                    <p>
                        Sebuah warisan perempuan Labobo untuk pengetahuan pengobatan alami perempuan Nusantara. Proyek ini dengan bersahaja menyentuh isu yang mendesak namun jarang disentuh seni budaya, yaitu kesehatan perempuan dan basis ilmu pengetahuan seputar pengobatan alami yang selama ini didominasi pasar dan industri serta ditopang oleh mitos-mitos kultural. Mendokumentasikan secara ilmiah pengetahuan pengobatan yang dikuasai neneknya sendiri, Erni Aladjai sebagai penulis, aktivis budaya sekaligus pustakawan berkolaborasi dengan ahli botani dan jejaring pustaka untuk mencatat dan membagikan ilmu pengetahuan kesehatan perempuan. Nilai pengetahuan <i>tacit</i> (terpendam) yang dikembangkan mumpuni oleh Nenek Damia harapannya akan memperkaya khasanah ilmiah alternatif terhadap ilmu kesehatan tradisional tanpa terjerumus menjadi mitos mistis atau klenik.
                    </p>
                    <li><b>
                        Lia Anggia Nasution - 0365 Penelitian Sejarah Pers Perempuan Sumatra Utara Rp. 20 juta (Penelitian) Kategori Riset/ Kajian/ Kuratorial.
                    </b></li>
                    <p>
                        Jejak keberadaan dan kontribusi perempuan jurnalis Sumatera Utara sejak masa pergerakan kemerdekaan belum terdokumentasi dengan baik. Forum inkubator ditawarkan kepada penggagas untuk mempertajam kerangka riset yang mampu memperdalam pemahaman mengenai isu-isu utama yang digeluti perempuan jurnalis pada periode 1900-1950-an.
                    </p>
                    <li><b>
                        Nanik Indarti, S.Sn - 0378 Aku Perempuan Unik Rp. 72 juta (Teater Dokumenter) Kategori Kerjasama/ Kolaborasi.
                    </b></li>
                    <p>
                        Proyek penciptaan teater ini adalah upaya konsolidasi perempuan pekerja seni yang meyandang <i>achondroplasia</i> untuk membangun percakapan dengan publik mengenai hal-hal yang mereka anggap penting dari pengalaman dan pandangan hidup mereka sebagai minoritas. Penggagasnya, Nanik Indarti, adalah aktor yang lulus dari institut seni dan telah terlibat dalam banyak produksi teater, menolak eksploitasi terhadap pekerja seni bertubuh mini dalam industri hiburan. Kolaborasinya dengan rekan-rekannya yang sesama penyandang <i>achondroplasia</i> diharapkan menyodorkan perspektif gender dan difabel yang kuat di lingkungan seni dan dunia yang lebih luas.
                    </p>
                    <li><b>
                        Rhidian Yasminta Wasaraka - 0391 Perempuan Perkasa Kesetaraan Gender Pada Budaya Suku Korowai Rp. 150 juta (Etnografi) Kategori Riset/ Kajian/ Kuratorial.
                    </b></li>
                    <p>
                        Kondisi keseharian relasi yang setara antar laki-laki dan perempuan di Suku Korowai di Boven Digul belum banyak diketahui. Mengenal kondisi masyarakat Korowai sejak penelitian pertamanya di tahun 2003, proyek ini memberikan kesempatan kepada periset untuk  menggali lebih dalam peran dan posisi perempuan Korowai. Publikasi hasil riset ini akan memberikan kesempatan bagi publik luas untuk mengenali keragaman dan kearifan budaya Papua. Hal ini  sangat penting, terutama di tengah generalisasi budaya patriarkis di Papua dan penggambaran suku Korowai semata sebagai masyarakat terbelakang.
                    </p>
                    <li><b>
                        Ade Tanesya Aryana Uli - 0407 Perempuan Pagu Bertutur Rp. 90 juta (Musik) Kategori Perjalanan.
                    </b></li>
                    <p>
                        Merayakan pengalaman perempuan dalam masyarakat adat lewat proses bersama dengan sahabat dari luar adalah proses penting dalam merawat keragaman Nusantara. Komitmen Ade Tanesia dalam merawat keragaman sudah dikenal masyarakat luas melalui kerjanya di bidang budaya dan media. Proyek ini diharapkan memperkaya khazanah musik yang tidak sekadar menghibur, tapi juga mengeratkan tautan masyarakat dari pulau ke pulau lewat tuturan kisah hidup perempuan.
                    </p>
                    <li><b>
                        Indah Darmastuti - 0496 Audiobook Sastra Indonesia Rp. 65 juta (Pelisanan Sastra) Kategori Kerjasama/ Kolaborasi.
                    </b></li>
                    <p>
                        Proyek ini menyediakan akses bagi difabel netra dan masyarakat umum terhadap karya-karya sastra dalam wujud seri <i>audiobooks</i> karya fiksi kontemporer hasil kuratorial perempuan. Inisiatornya, Indah Darmastuti, adalah buruh swasta dan penulis fiksi yang produktif, terlibat cukup dalam di komunitas sastra lokal dan aktivisme untuk difabel. Dengan kemampuan menulis dan modal sosialnya ia diharapkan dapat mendorong keterlibatan lebih banyak ragam pemangku kepentingan dalam mempermudah dan memperluas akses terhadap sastra dengan perspektif gender yang lebih kritis dan inklusif.
                    </p>
                    <li><b>
                        Julianti Huki - 0498 Tenun Ikat Tradisional NTT Rp. 60 juta (Tenun) Kategori Akses.
                    </b></li>
                    <p>
                        Fasilitasi berupa alat produksi dan akses distribusi untuk perempuan di wilayah Indonesia Timur merupakan salah satu prioritas Cipta Media. Dalam kolaborasinya bersama 2 kelompok perempuan pengrajin tenun di NTT, Julianti Huki sebagai penggagas merupakan anak muda yang memiliki semangat, dedikasi, dan keinginan untuk terus belajar. Kami berharap Julianti terus berupaya menempatkan dirinya dalam jaringan industri kreatif yang lebih luas demi mempelajari beragam strategi baru untuk mendukung para perempuan penenun dalam mempromosikan karya-karya mereka.
                    </p>
                    <li><b>
                        Sri Harti, M.Sn - 0523 Wanita Kusumayuda Rp. 20 juta (Dalang) Kategori Kerjasama/ Kolaborasi.
                    </b></li>
                    <p>
                        Dalang perempuan dalam dunia seni pertunjukan di Indonesia masih menempati posisi marjinal. Sri Harti adalah seorang dalang yang memiliki dedikasi tinggi di bidangnya, dan kami berharap ia dapat melakukan intervensi sosial dengan menyodorkan perspektif kritis terhadap masalah perempuan dan mengolahnya dalam narasi pertunjukan wayang kulit. Kami mendukung Sri Harti untuk mempertajam perspektifnya melalui sebuah inkubator proses yang memungkinkannya mematangkan desain pertunjukan.
                    </p>
                    <li><b>
                        Rena Amalika Asyari - 0529 Pendokumentasian Perempuan Intelektual Sunda Lasminingrat Rp. 20 juta (Sejarah pemikiran, Biografi) Kategori Riset/ Kajian/ Kuratorial.
                    </b></li>
                    <p>
                        Tak banyak orang mengenal pemikiran dan kiprah Lasminingrat dalam memajukan pendidikan perempuan dan sastra di Indonesia. Dengan mengikuti forum inkubator untuk mempertajam kerangka risetnya, penggagas diharapkan akan mampu menghadirkan pemikiran perempuan Sunda di abad ke-19  dengan lebih komprehensif. Hasil riset akan memperkaya semesta pengetahuan publik mengenai sejarah gerakan dan kepemimpinan perempuan Indonesia.
                    </p>
                    <li><b>
                        Martha Hebi - 0575 Perempuan (Tidak) Biasa di Sumba Era 1965 - 1998 Rp. 90 juta (Sejarah perempuan) Kategori Riset/ Kajian/ Kuratorial.
                    </b></li>
                    <p>
                        Martha Hebi menawarkan ragam kisah kerja-kerja transformasi sosial melalui sudut pandang sejumlah perempuan Sumba yang secara normatif terlihat atau dilabel perempuan “biasa”. Proyek ini penting di kala perempuan sampai kini masih harus memperjuangkan isu-isu keberadaannya di atas lanjutan narasi tunggal sejarah dari penguasa Orde baru yang masih dominan di cara pikir masyarakat. Pengalaman Martha sebagai penulis sastra dan aktivis komunitas di NTT membuatnya menantang nilai perempuan “biasa” dan “tidak biasa” dengan kepekaan. Kami berharap lewat kisah para perempuan ini perubahan sosial yang dilakukan tanpa kentara dan khas perempuan menemukan artikulasinya dan memicu pemikiran kritis terhadap mitos-mitos normatif seputar perubahan sosial.
                    </p>
                    <li><b>
                        Dida Imada Maulina - 0588 Pengadaan alat dan kostum grup Suluk Samudera Rp. 32 juta (Musik) Kategori Akses.
                    </b></li>
                    <p>
                        Kembali berkarya setelah sempat terhenti karena kesibukan sebagai ibu rumah tangga adalah kerinduan banyak perempuan peseni. Sejak kembali berkarya pada tahun 2016, grup musik tradisi Sunda yang beranggotakan 10 perempuan ini telah menghasilkan satu karya baru dan 5 karya aransemen. Pengadaan alat dan kostum ini diharapkan akan mendukung Suluk Samudra dalam berkarya dan berkontribusi lebih optimal untuk khazanah musik Indonesia.
                    </p>
                    <li><b>
                        Kadek Sonia Piscayanti - 0599 11 Ibu 11 Panggung 11 Kisah Rp. 89 juta (Teater Dokumenter) Kategori Kerjasama/ Kolaborasi.
                    </b></li>
                    <p>
                        Percobaan-percobaan kreatif dalam membangun ruang bersama yang aman bagi perempuan untuk mengelola isu personal dan sosialnya masih perlu terus dicari. Kadek Sonia menawarkan upaya memperlakukan proses penciptaan teater sebagai ruang bercakap, tumbuh kembang gagasan dan saling dukung bagi sejumlah perempuan dengan beragam latar belakang di lingkungan dekatnya untuk mengurai isu-isu perempuan dan bersama-sama mencari bentuk percakapannya dengan publik. Initiatif ini kami harapkan mampu menggulirkan lebih jauh jelajah estetika teater sebagai alternatif forum pertemuan dan dialog kritis yang organik antarperempuan maupun antara perempuan dan publik.
                    </p>
                    <li><b>
                        Sartika Sari - 0619 Puisi dan Gerakan Perempuan Rp. 49 juta (Kajian Sastra) Kategori Riset/ Kajian/ Kuratorial.
                    </b></li>
                    <p>
                        Sejarah dan sastra pra-Indonesia membutuhkan acuan data, dokumentasi dan kajian corak ekspresi penyair perempuan. Proyek ini menggali dan menemukan kembali sejarah dan gerakan sastra perempuan 1900-1930 yang ada di media-media pra-kemerdekaan dan pra konsensus bahasa Indonesia. Sartika Sari, penulis, penyair dan akademisi yang didorong kecintaannya akan sastra melanjutkan penelitian yang ia sudah ia lakukan sebelumnya seputar perempuan sastra di tahun 1919. Kajian ini berpotensi terus membentang khasanah sejarah dan praktek sastra perempuan Indonesia.
                    </p>
                    <li><b>
                        Luviana Ariyanti - 0642 Film Dokumenter Kekerasan Perempuan di Dunia Kerja Rp. 50 juta (Film) Kategori Kerjasama/ Kolaborasi.
                    </b></li>
                    <p>
                        Media massa membawakan berita agar kita awas terhadap apa yang terjadi di sekeliling kita, tapi kita sering abai pada apa yang bisa terjadi di dalam institusinya. Proyek film ini penting untuk mengangkat ketidakadilan yang dialami pekerja media perempuan di Indonesia. Luviana Ariyanti memiliki komitmen yang sangat tinggi dalam melakukan advokasi hak-hak pekerja media perempuan. Karyanya ini diharapkan bisa membuka mata kita tentang ketidakadilan yang terjadi dan membantu menciptakan kondisi bebas diskriminasi dan tekanan terhadap mereka.
                    </p>
                    <li><b>
                        Wawa Sapta Rini - 0647  Pasar Tari Dua Ribu Lima Ratus Rp. 97 juta (Tari) Kategori Kerjasama/ Kolaborasi.
                    </b></li>
                    <p>
                        Proyek kolaborasi ini ingin menyelidiki nilai artistik dari proses penciptaan tari pesanan yang berorientasi komersial oleh para pelakunya sendiri melalui serangkaian riset dan eksperimentasi. Wawa Saptarini dan kawan-kawannya yang lulusan akademi tari berupaya menghadapi kegelisahan mereka atas dikotomi tari kontemporer vs tari komersial serta wacana nilai artistik dan sosial yang beroperasi di sekitarnya. Inisiatifnya diharapkan dapat mendorong perempuan di dunia tari untuk memperdalam praktik dalam kerangka kritik tari dan memproduksi pemikiran mereka sendiri mengenai tari.
                    </p>
                    <li><b>
                        Nova Ruth Setyaningtyas - 0663 Perbatasan: Catatan Perjalanan Rp. 50 juta (Musik kolaborasi) Kategori Lintas generasi.
                    </b></li>
                    <p>
                        Proyek ini adalah inisiatif dua musisi-aktivis perempuan berbeda latar belakang dalam belajar sambil menggagas karya secara lintas generasi. Inisiatif ini adalah gagasan yang segar di tengah status quo industri musik yang tak pernah ramah perempuan, di situasi kesenjangan pengetahuan antar generasi dan di krisis alih pengetahuan antar gerakan sosial perempuan. Nova Ruth, musisi muda yang selalu mencari bentuk baru kekaryaan sekaligus juga menyoal isu-isu lingkungan dan tradisi. Saraswati Sunindyo, maestro musik tradisi dengan filosofi sufi, akademisi yang juga berpengalaman dalam aktivisme hak asasi manusia. Keduanya memadukan talenta dan pengetahuan dalam proses belajar sekaligus produksi. Proses eksperimentasi praktek pengetahuan lewat kekaryaan ini harapannya menghasilkan corak karya baru yang menginspirasi baik musisi, aktivis, komunitas-komunitas seni budaya, dan pencinta musik lintas generasi.
                    </p>
                    <li><b>
                        Kartika Jahja - 0688 DAPET - Eksplorasi Kreatif Tentang Perempuan dan Tubuhnya Rp. 35 juta (Ruang kolaborasi lintas disiplin) Kategori Kerjasama/ Kolaborasi.
                    </b></li>
                    <p>
                        Tubuh perempuan dari usia dan kalangan manapun menjadi perhatian dan wilayah pertikaian masyarakat. Kartika Jahja dan Shera Rindra membuka ruang dialog yang lebih luas, tempat para perempuan yang berbeda saling berbincang tentang persoalan tubuh. Ruang baru ini diharapkan menjadi penyemangat untuk para perempuan agar menyambut dan ikut meluaskan ruang dialog serta berbagi pengetahuan tentang soal yang sering ditabukan ini.
                    </p>
                    <li><b>
                        Raisa Kamila - 0701 Merekam Ingatan Perempuan: Kumpulan Cerita Pendek Rp. 100 juta (Sastra) Kategori Kerjasama/ Kolaborasi.
                    </b></li>
                    <p>
                        Inisiatif ini penting untuk mengumpulkan memori bersama seputar peristiwa yang terjadi di Indonesia. Para perempuan muda dalam proyek ini, diwakili oleh Raisa Kamila yang bermukim di Aceh, mengajak kita keluar dari kungkungan ’pusat’, ‘Jawa’ dan ‘ibukota’. Para perempuan ini sepakat melakukan kolaborasi belajar bersama dan menulis cerpen bersama berdasarkan peristiwa di tempat tinggal atau asal mereka yang berbeda pulau. Kumpulan cerita mereka diharapkan dapat melengkapi ingatan kita tentang peristiwa dan pengalaman perempuan di tempat-tempat yang jauh dari episentrum berita dan kerap dilewatkan atau bahkan mengungkapkan sisi-sisi yang tidak mampu ditangkap oleh media massa.
                    </p>
                    <li><b>
                        Nur Handayani - 0727 Suara Sinden “Ginonjing” Rp. 100 juta (Musik tradisi) Kategori Kerjasama/ Kolaborasi.
                    </b></li>
                    <p>
                        Sebuah gagasan untuk memperbarui <i>sindhenan</i> dalam bentuk paduan suara <i>sindhen</i>, yang mengolah kebaruan musikal menyangkut teknik, gaya maupun bentuk di luar tradisinya. Nur Handayani adalah seorang pesindhen dengan pengalaman yang relatif baru namun membuka perspektif lain dari tradisi <i>sindhenan</i>, terutama dalam hubungannya dengan pertunjukan wayang kulit. Karyanya adalah hasil tanggapan tentang kehidupan pesindhen di dalam pertunjukan wayang kulit, di mana <i>sindhen</i> seringkali menjadi obyek kelakar seksual oleh para dalang maupun penontonnya. Daya untuk membanding pengalaman tersebut diekspresikan di dalam karya “Ginonjing.” Karya ini diharapkan akan menjembatani cakrawala baru pesindhen dalam mengaktualisasikan keperempuanan dan lantunan <i>sindhen</i> ‘baru’.
                    </p>
                    <li><b>
                        Monika Swastyastu - 0729 Yang Liar Memberi Harapan Rp. 68 juta (Kuliner) Kategori Riset/ Kajian/ Kuratorial.
                    </b></li>
                    <p>
                        Proyek tentang politik dan pengetahuan pangan liar terutama dari kalangan perempuan antar generasi. Berangkat dari persoalan bahwa narasi tentang pangan dari perspektif perempuan jarang dituliskan, diarsipkan dan didistribusikan selain dalam buku resep. Harapannya proyek ini dapat meneruskan rantai pengetahuan pangan yang terputus antar generasi perempuan.
                    </p>
                    <li><b>
                        Ciptaningrat Larastiti - 0734 Perempuan Dalam Semesta Lurik Rp. 25 juta (Kolektif) Kategori Riset/ Kajian/ Kuratorial.
                    </b></li>
                    <p>
                        Inisiatif tukar pengetahuan dan tukar daya antara komunitas peneliti muda dan komunitas buruh tenun lurik ini sebuah praktek membangun budaya subsistensi antar perempuan. Ciptaningrat Larasati dan komunitasnya berpengalaman dalam meneliti dan merintis kerja-kerja otonomi. Dengan sudut pandang riset dan alih pengetahuan lintas generasi proyek ini diharapkan bisa membagikan corak produksi pengetahuan dari perspektif rantai nilai, pengorganisasian dan solidaritas juga tawaran perubahan budaya yang mengakar dan berkesinambungan.
                    </p>
                    <li><b>
                        Feby Indirani - 0875 Pameran Tafsir Rupa dan Gerak BUKAN PERAWAN MARIA Rp. 200 juta (Sastra dan Seni Rupa) Kategori Kerjasama/ Kolaborasi.
                    </b></li>
                    <p>
                        Di tengah makin kuatnya ketegangan identitas keagamaan, proyek kolaborasi lintas disiplin seni ini menawarkan sudut pandang kritis dan segar atas pengalaman perempuan dalam beragama. Mendapatkan respons publik yang baik atas pameran yang dilakukannya di Jakarta, Feby Indirani ingin memperluas dialog yang dipantik dari kumpulan cerpennya ini di kota-kota lain, dengan partisipasi lebih banyak perempuan dan publik yang berbeda. Inisiatif ini diharapkan dapat memancing terbukanya lebih banyak ruang relaksasi dan pemaknaan atas pengalaman beragama yang beragam.
                    </p>
                    <li><b>
                        Jelsy Meivira - 0923 Periuk Wanita Kalimantan Barat Rp. 20 juta (Kuratorial Kuliner) Kategori Riset/ Kajian/ Kuratorial.
                    </b></li>
                    <p>
                        Masakan adalah salah satu wujud karya kebudayaan yang dinamis, yang dipengaruhi oleh interaksi antar kelompok masyarakat yang beragam. Penggagas telah memiliki hasil riset awal mengenai masakan-masakan khas di 14 Kabupaten di Kalimantan Barat. Dengan mengikuti proses dalam forum inkubator, kami berharap dapat memperkuat desain pamerannya sehingga ia dapat menawarkan cara pandang baru terhadap interaksi lintas budaya yang dipelopori perempuan melalui karya kuliner.
                    </p>
                    <li><b>
                        Alia Swastika - 0963 ENAM MENGUAK TAKDIR: Feminisme dan Perempuan Perupa 1980an Rp.50 juta (Sejarah Seni Rupa) Kategori Riset/ Kajian/ Kuratorial.
                    </b></li>
                    <p>
                        Proyek riset dan kurasi tentang periode 1970-an akhir hingga 1980-an dalam sejarah seni rupa Indonesia yang belum cukup diulas dari perspektif kajian feminis. Penulisnya akan menggunakan teori-teori feminisme, kajian budaya dan sejarah seni untuk melihat relasi antara personalitas perempuan, kritik karya dan perkembangan sosial politik ekonomi. Proyek ini diharapkan bisa memperkaya pengetahuan kita soal seniman-seniman perempuan pada masa tersebut dan relasinya dengan konteks medan seni, lansekap gerakan perempuan dan cakupan peranan pada masa tersebut.
                    </p>
                    <li><b>
                        Kahi Ata Ratu - 0995 Perempuan Sumba dan Musik Tradisional Rp. 150 juta (Musik) Kategori Kerjasama/ Kolaborasi.
                    </b></li>
                    <p>
                        Upaya penting penerusan pengetahuan dan praktik salah satu jenis musik Sumba Timur ke generasi selanjutnya, yang dimainkan oleh pemusik perempuan. Kahi Ata Ratu adalah salah satu dari sedikit perempuan yang piawai memain-nyanyikan musik jungga, alat musik petik yang lebih dikenal dalam ranah musik laki-laki. Hasil dari perekaman dan pencatatan musik yang dimainkan oleh Ata Ratu, menjadi bahan penting bagi anak-anak Sumba Timur yang akan melanjutkan tradisi jungga. Selain itu, kami berharap bahwa inisiatif perekaman dan pencatatan akan memperkaya tidak hanya khazanah musik/nyanyian Sumba Timur dan Nusantara, namun juga sebagai sumber inspirasi bagi karya-karya baru seniman musik di Sumba dan di tempat lain di Indonesia.
                    </p>
                    <li><b>
                        Citra Hasan - 1053 DEGILFEMME Rp. 92 juta (Zine/media feminis) Kategori Akses.
                    </b></li>
                    <p>
                        Media independen berbentuk zine di pulau Sumatra yang berisi ulasan maupun karya seni dan literasi dengan sudut pandang feminisme. Dikelola oleh komunitas yang sudah lama membuat zine dan bergerak di skena seni di kota Medan. Proyek ini diharapkan dapat menyediakan ruang fisik untuk kegiatan reproduktif di tempat kerja dan wadah kreasi khusus bagi para perempuan yang selama ini tidak cukup mendapakan perhatian dari media arus utama.
                    </p>
                    <li><b>
                        Dewi Noviami - 1103 Ruang Perempuan dan Tulisan Rp. 68 juta (Sastra) Kategori Lintas Generasi.
                    </b></li>
                    <p>
                        Proyek lintas generasi ini bersifat sederhana namun menyodorkan perspektif gender yang penting. Mengupayakan ruang bagi perempuan penulis muda untuk merespon karya-karya para perempuan penulis terdahulu yang sebagian besar terlupakan, proyek ini berpotensi kontributif terhadap historiografi feminis dan meningkatkan pemahaman serta apresiasi atas karya-karya penulis perempuan. Dengan rekam jejak, jaringan, dan komitmen yang dimiliki Dewi Noviami di ranah sastra Indonesia, kami berharap proyek ini dapat berlanjut ke arah pendokumentasian yang lebih komprehensif serta menjangkau publik yang lebih luas.
                    </p>
                    <li><b>
                        Azka Amalina - 1155 Akhir Usia, Buku dan Pameran Fotografi Rp. 20 juta (Fotografi) Kategori Perjalanan.
                    </b></li>
                    <p>
                        Ketegangan hubungan antara anak muda dan anggota keluarga yang sepuh adalah isu sosial yang kian mengemuka. Inspirasi karya berangkat dari refleksi atas interaksi penggagas dengan neneknya, 2 perempuan dari generasi yang berbeda. Dukungan proses berkarya melalui forum inkubator diharapkan memampukan pengagas menawarkan cara pandang baru terhadap interaksi antar generasi yang lebih saling memberdayakan.
                    </p>
                    <li><b>
                        Saartje Sylvia - 1163 Pentas Kolaborasi Sylvia Saartje Rp. 100 juta (Musik) Kategori Kerjasama/ Kolaborasi.
                    </b></li>
                    <p>
                        Salah satu dari sedikit penyanyi rock perempuan yang aktif adalah Sylvia Saartje. Ia melewati berbagai fase naik-turun kehidupan kepenyanyiannya, yang pada suatu masa telah memperkaya sudut pandang tentang hubungan antara kepenyanyian dan keperempuanannya. Untuk merayakan hal tersebut, kami berharap bahwa Sylvia Saartje membuat sebuah pertunjukan yang akan mengetengahkan nyanyian-nyanyian pilihan dari beberapa dasawarsa karirnya, didukung penceritaan berbagai pengalaman dan peristiwa yang ikut mengubah berbagai sudut pandangnya tersebut.
                    </p>
                    <li><b>
                        Nikfon Wuny - f-030 Pengembangan Grup Musik Yanger Wanita Rp. 36 juta (Musik) Kategori Akses.
                    </b></li>
                    <p>
                        Kelompok musik yanger dari desa Lolori, di Halmahera Barat, ini meneruskan sebuah tradisi yang lebih dikenal sebagai musik di dalam wilayah laki-laki. Yanger, sebagai musik hasil persenyawaan nyanyian setempat dan pengaruh sistem musik diatonis, telah memperkaya khazanah musik populer hibrid di Indonesia. Para perempuan dari suku Sahu di desa Lolori ini, di samping kesibukan mereka mengerjakan pekerjaan sehari-hari, juga meluangkan waktu untuk memelihara keberlangsungan yanger. Dengan peremajaan dan penambahan alat-alat musik yanger, kami harapkan mama-mama di desa Lolori dapat membagi pengetahuan dan keahlian musik yanger mereka kepada anak-anak di desa Lolori dan--apabila memungkinkan--di desa-desa lainnya di Halmahera Barat.
                    </p>
                </ol>
                <p class="text-center">
                    <b>* * SELESAI * *</b>
                </p>
                <hr>
                <p>
                    Catatan: Halaman ini telah direvisi pada 21 Juni 2018 dengan merefleksikan perubahan pada penerima hibah <a href="/hibahcme/688">
                    Proyek nomor 0688 DAPET - Eksplorasi Kreatif Tentang Perempuan dan Tubuhnya</a>, Kartika Jahja, yang dibatalkan bersama.
                    Keterangan mengenai pembatalan hibah dapat dilihat
                    di <a href="/cme/publikasi/2018/06/21/CME-Pernyataan-Bersama-Mengenai-Proyek-Hibah-0688-DAPET.html">sini</a>.
                </p>
                <hr>
                <p>
                    Untuk keterangan lebih lanjut dapat menghubungi surel: info@ciptamedia.org atau via telpon di 08164845052 Siska Doviana, Manager Hibah, Cipta Media Ekspresi.
                    <br/>
                    Wikimedia Indonesia (www.wikimedia.or.id) adalah perkumpulan (asosiasi) independen yang didirikan dan dibiayai sendiri oleh para sukarelawan Indonesia. Asosiasi ini didirikan untuk mendukung upaya-upaya pengadaan dan penyebarluasan materi-materi pengetahuan bersumber terbuka dalam bahasa Indonesia dan bahasa-bahasa lain yang dipertuturkan di Indonesia.
                </p>
            </div>
        </div>
    </div>
    {% include grant-recipient-block.html index="0" %}
