---
title: Penerima Hibah Cipta Media Bersama
layout: info
---

<link rel="stylesheet" href="{{site.baseurl}}/static/css/index.css">

<div class="container">

    {% include title-header.html %}
	
    <div class="row">
        <div class="col-lg-12 text-center">
            <h1 class="allcaps">{{ page.title }}</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12 article">
			
			<ul class="nav nav-tabs">
				<li class="active"><a data-toggle="tab" href="#pengumuman">Pengumuman</a></li>
				<li><a data-toggle="tab" href="#daftar">Daftar Penerima Hibah</a></li>
			</ul>
	
			<div class="tab-content">
				
				<div id="pengumuman" class="tab-pane fade in active article">				
					<h2 class="allcaps">Cipta Media Bersama Menganugrahkan 1 Juta Dolar AS Kepada 20 Pemohon Hibah Untuk Perbaikan Media di Indonesia</h2>
					<small>Jakarta, 8 November 2011</small>
					<p>Tim Penasehat dan Seleksi Akhir "Cipta Media Bersama" yang terdiri dari sembilan tokoh dengan berbagai latar belakang ilmu dan keahlian memutuskan untuk mengabulkan 20 permintaan hibah dengan nilai total 1 juta dolar AS (8,5 Milyar Rupiah).</p>
					<p>Hibah terbuka untuk perbaikan media yang didanai oleh the Ford Foundation dan didukung oleh tiga organisasi nirlaba; Wikimedia Indonesia, ICT Watch dan Aliansi Jurnalis Independen (AJI) Indonesia sebelumnya menerima 820 permohonan hibah dari seluruh Indonesia. Pada seleksi awal, panitia dan masyarakat memilih 35 calon penerima hibah dimana panitia memilih 30; sementara lima pemohon berasal dari pilihan masyarakat melalui pemungutan suara yang dilakukan via situs web dan sosial media.</p>
					<p>Hibah ini diharapkan dapat memberdayakan dan menguatkan kapasitas masyarakat dalam berkontribusi untuk meretas batas kebhinekaan bermedia, memperjuangkan kebebasan dan menjaga etika bermedia, menjamin keadilan dan kesetaraan akses terhadap media, serta melakukan pemantauan media secara aktif baik dari segi isi, kepemilikan, dan prosedurnya.</p>
					<p>David Hulse, Country Representative dari Ford Foundation mengungkapkan Cipta Media Bersama membuktikan bahwa sektor media di Indonesia sedang mengalami perubahan yang pesat dalam perkembangan teknologi baru, namun banyak pihak yang mempunyai ide untuk memanfaatkannya untuk perubahan yang lebih baik. Sementara Anggota Tim Penasehat dan Seleksi Akhir Nia Dinata berpendapat bahwa inisiatif-inisiatif seperti Cipta Media Bersama dibutukan karena Indonesia masih sangat perlu alternatif konten. Sementar ahli teknologi Onno Purbo menganggap Cipta Media sebagai upaya “Mengangkat kita-kita yang tidak bersuara."</p>
					<p>Dari ke-20 penerima hibah, separuh berasal dari Jakarta dengan wilayah kerja di Jakarta sendiri maupun wilayah lainnya di Indonesia, sementara separuh lainnya berasal dari Sumatera (3), Jawa (4) , Kalimantan (1), Sulawesi (1), dan Papua (1).</p>
					<p>Seluruh penerima hibah akan dipantau perkembangannya, penggunaan dananya, dan seluruh hasil karya akan menggunakan lisensi hak cipta berbagi Karya Cipta Bersama (Creative Commons 3.0) dimana hasil pantauan maupun karya ini akan dapat digunakan bebas oleh publik.</p>
					<p>Untuk rencana selanjutnya satu tahun kedepan, Cipta Media Bersama akan melakukan peningkatan kemampuan melalui lokakarya pelatihan media dan teknologi untuk masyarakat yang tertarik melakukan perbaikan media sebelum menggelontorkan hibah selanjutnya di tahun 2013.</p>
				</div>
    	
				<div id="daftar" class="tab-pane fade">	
					<div class="row">
						<br/>
						{% for penerimacmb in site.data.penerimacmb %}
						<div class="col-md-4">
							<div class="col-md-12 well well-lg" style="height: 650px;">
								<a href="{{ penerimacmb.link }}"><img class="img-responsive center-block" src="{{ penerimacmb.gambar }}"></a>
								<hr>
								<a href="{{ penerimacmb.link }}"><h4>{{ penerimacmb.nomor }} - {{ penerimacmb.judul | truncatewords: 10 }}</h4></a><br/>
								{{ penerimacmb.deskripsi | truncatewords: 20 }}
								<hr>
								<i class="fa fa-map-marker" aria-hidden="true"></i> {{ penerimacmb.lokasi }}
							</div>
						</div>
						{% endfor %}
					</div>
				</div>
	
			</div>
			
		</div>
	</div>

</div>
