---
title: Etalase Pemikiran Perempuan 2020
layout: info
---
<script>
$(document).ready(function() {
  $('.more-less').click(function() {
    $('.more-less').toggle();
  });
});
</script>
<section id="header" style="background-image: url(/static/img/landing/timeline-header.png);background-size: cover;background-attachment: scroll;background-repeat: no-repeat;background-position: bottom;height: 40vh;width: 100%">
</section>
<div class="container">
  <div class="row">
    <div class="col-lg-12 index-col">
      <h1 class="text-center allcaps yellow-header">{{ page.title }}</h1>
      <hr>
      <p> Setelah <a href="{{site.baseurl}}/ciptamediaekspresi/festival-cme.html">Festival Cipta Media Ekspresi 2019</a> terselenggara pertama kali di Yogyakarta pada 26-28 April 2019, para pengelolanya terus mengadakan ruang bagi pemikiran perempuan. Salah satunya dengan menyelenggarakan ‘Etalase Pemikiran Perempuan 2020: Sebuah Festival’ (Etalase) pada 24-26 Juli mendatang sebagai keberlanjutan. Etalase ini merupakan perjalanan lanjutan Sekolah Pemikiran Perempuan (SPP), sebuah ruang edukasi berdasarkan pengalaman perempuan dan pemikiran-pemikirannya. Landasan pikiran mengenai etalase untuk memajang pemikiran perempuan berasal dari pernyataan penulis/akademisi Intan Paramaditha dalam artikel “Bongkar: Siasat Feminis dalam Seni dan Budaya di Indonesia”. <a href="#more" data-toggle="collapse" class="more-less">Selengkapnya...</a></p>
      <div id="more" class="collapse">
        <p>Etalase, demikian kami memutuskan untuk sebutan singkatnya, akan berlangsung pada 24-26 Juli 2020 mendatang secara daring. Selama tiga hari, publik peserta dapat mengikuti kegiatan-kegiatan berupa rangkaian diskusi, cerita kisah hidup, dan pentas ceramah. Kegiatan-kegiatan ini berangkat dari beberapa tema/topik: membuka akses yang menyempit atau tertutup (atau ditutup) bagi perempuan, sejarah, metode kerja seni/budaya, kolaborasi lintas disiplin dan lintas generasi.</p>
        <p>Pada edisi kedua Etalase ini, penyelenggara tidak saja menghadirkan kembali beberapa alumni hibah Cipta Media Ekspresi (CME), tapi juga mengundang para penampil yang mempunyai pengalaman dan sumbangan menarik bagi perkembangan pemikiran perempuan di bidang seni budaya.</p>
        <p>Etalase terbuka bagi para pelaku seni budaya, penonton dan pecinta seni, pemerhati persoalan kemasyarakatan termasuk isu-isu perempuan, dan khalayak umum dengan pendaftaran karena kapasitas terbatas.</p>
        <p>Etalase ini merupakan perjalanan lanjutan Sekolah Pemikiran Perempuan (SPP), sebuah ruang edukasi berdasarkan pengalaman perempuan dan pemikiran-pemikirannya. Pada 2018, SPP pernah diadakan secara terbatas, yang kumpulan dan audio pembelajarannya dapat diakses melalui tautan <a href="https://s.id/SekolahPemikiranPerempuan">https://s.id/SekolahPemikiranPerempuan</a>.</p>
        <a href="#more" data-toggle="collapse" class="more-less" style="display: none">Sembunyikan...</a>
      </div>
      <div class="row text-center">
        <h1 class="text-center allcaps yellow-header">Jadwal Acara</h1>
        <hr>
        <div class="col-xs-2 col-xs-offset-3 text-center">
          <a href="#jumat" data-toggle="pill"><h3 class="allcaps">Jumat<br>24 Juli</h3></a>
        </div>
        <div class="col-xs-2 text-center">
          <a href="#sabtu" data-toggle="pill"><h3 class="allcaps">Sabtu<br>25 Juli</h3></a>
        </div>
        <div class="col-xs-2 text-center">
          <a href="#minggu" data-toggle="pill"><h3 class="allcaps">Minggu<br>26 Juli</h3></a>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container tab-content">
  <div id="jumat" class="row tab-pane fade active in">
    <div class="col-md-12">
      <h2 class="text-center">Jumat, 24 Juli 2020</h2>
      <table class="table">
        <thead>
          <tr>
            <th class="text-center col-md-2">Waktu</th>
            <th class="text-center col-md-10">Kegiatan</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><p>Sore<br>(17.00-18.00)</p></td>
            <td>
              <p>
                <b>Riwayatmu, Puan 1</b><br>
                Cerita Kisah Hidup (Biografi) Perempuan<br>
                Moderator: Lisabona Rahman
              </p>
              <p>Dalam acara ini kita akan menelusuri kembali riwayat para puan seni budaya, lewat sudut pandang mereka yang berprofesi serupa atau berhubungan. Di sini kita tidak hanya berbagi kisah hidup, tapi menyaksikan tautan estafet pengetahuan lintas generasi. Ini adalah forum untuk merayakan pencapaian, berbagi pemikiran dan bersama menolak melupakan para perempuan yang disingkirkan atau diremehkan dalam sejarah.
              </p>
              <p>Menampilkan:</p>
                <ul>
                    <li>Penulis Ziggy Zezsyazeoviennazabrizkie (Jakarta) bercerita tentang penulis Tan Lam Nio.</li>
                    <li>Kurator seni rupa Alia Swastika (Yogyakarta) bercerita tentang pelukis Mangku Muriati.</li>
                    <li>Penyanyi dan pemusik Bonita (Salatiga) bercerita tentang penulis lagu Utati.</li>
                </ul>
            </td>
          </tr>
          <tr>
            <td><p>Malam<br>(18.00 – 19.00)</p></td>
            <td>
              <p>
                <b>Perempuan Menawar Panggung</b><br>
                Talk Show/Temu Wicara<br>
                Moderator: Naomi Srikandi
              </p>
              <p>Obrolan santai ini akan membahas strategi dan taktik perempuan dalam menawar panggung pertunjukan di Indonesia, yang syarat dan ketentuannya masih banyak diatur oleh tatapan maskulin yang dominan.
              </p>
              <p>Pembicara: Kadek Sonia Piscayanti (penulis naskah & sutradara teater, Singaraja), Sri Harti (Kenik Asmorowati) (penulis naskah & dalang, Surakarta), Nanik Indarti (penulis & seniman teater, Yogyakarta), Agnes Serfozo (sinden & peneliti, Surakarta).
              </p>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div id="sabtu" class="row tab-pane fade">
    <div class="col-md-12">
      <h2 class="text-center">Sabtu, 25 Juli 2020</h2>
      <table class="table">
        <thead>
          <tr>
            <th class="text-center col-md-2">Waktu</th>
            <th class="text-center col-md-10">Kegiatan</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><p>Sore<br>(15.00-17.00)</p></td>
            <td>
              <p>
                <b>Isyarat Feminisme Dekolonial</b><br>
                Diskusi Panel<br>
                Moderator: Intan Paramadhita
              </p>
              <p>Struktur dominasi yang dialami perempuan tak serupa, relasi kuasa antarperempuan dapat melahirkan kolonialisme atas nama solidaritas. Seperti apakah feminisme dekolonial? Forum ini tidak menawarkan definisi tapi menelusuri kemungkinan teorisasi dari bawah dengan mendengarkan pengalaman perempuan dalam konteks yang berbeda-beda di nusantara. 
              </p>
              <p>Anggota panel: Martha Hebi (penulis & aktivis, Sumba), Erni Aladjai (penulis, Depok), Citra Hasan (penulis & pengelola komunitas, Medan), Rhidian Yasminta Wasaraka (antropolog, Jayapura).
              </p>
            </td>
          </tr>
          <tr>
            <td><p>Sore<br>(17.00-18.00)</p></td>
            <td>
              <p>
                <b>Riwayatmu, Puan 2</b><br>
                Cerita Kisah Hidup (Biografi) Perempuan<br>
                Moderator: Lisabona Rahman
              </p>
              <p>Dalam acara ini kita akan menelusuri kembali riwayat para puan seni budaya, lewat sudut pandang mereka yang berprofesi serupa atau berhubungan. Di sini kita tidak hanya berbagi kisah hidup, tapi menyaksikan tautan estafet pengetahuan lintas generasi. Ini adalah forum untuk merayakan pencapaian, berbagi pemikiran dan bersama menolak melupakan para perempuan yang disingkirkan atau diremehkan dalam sejarah.
              </p>
              <p>Menampilkan:</p>
                <ul>
                    <li>Pengajar Rena Amalika Asyari (Bandung) bercerita tentang penerjemah & penulis Lasminingrat. </li>
                    <li>Peneliti & kurator tari Helly Minarti (Yogyakarta) bercerita tentang koreografer & akademisi tari Hoeriah Adam. </li>
                    <li>Akademisi Melani Budianta (Jakarta) bercerita tentang aktor & akademisi drama Tuti Indra Malaon.</li>
                </ul>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div id="minggu" class="row tab-pane fade">
    <div class="col-md-12">
      <h2 class="text-center">Minggu, 26 Juli 2020</h2>
      <table class="table">
        <thead>
          <tr>
            <th class="text-center col-md-2">Waktu</th>
            <th class="text-center col-md-10">Kegiatan</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><p>Sore<br>(15.00-16.00)</p></td>
            <td>
              <p>
                <b>Perempuan Meretas Sastra</b><br>
                Talk Show/Temu Wicara<br>
                Moderator: Intan Paramadhita
              </p>
              <p>Apa yang perlu diretas dari sastra Indonesia? Bukankah sejumlah penulis perempuan menjadi sorotan di ruang publik dan kita mulai mendapat perhatian dunia internasional? Sastra Indonesia masih bersifat heteropatriarkal dan Jawa-sentris. Upaya peretasan yang sudah dikerjakan para penulis dalam acara ini  adalah ajakan mengubah cara pandang sempit yang masih juga dipertahankan dan tawaran acuan-acuan pikiran baru yang lebih terbuka.
              </p>
              <p>Pembicara: Raisa Kamila (penulis, Bandung), Sartika Sari (penulis, Medan), Isyana Artharini (penulis, Jakarta), Indah Darmastuti (penulis, Surakarta), Lily Yulianti Farid (penulis, Makassar).
              </p>
            </td>
          </tr>
          <tr>
            <td><p>Sore<br>(16.00-18.00)</p></td>
            <td>
              <p>
                <b>Bongkar Kata</b><br>
                Ceramah Pendek Pemikiran Feminis<br>
                Moderator: Cecil Mariani
              </p>
              <p>Forum ini berupaya mengurai beberapa konsep pemikiran dari perspektif feminis lewat diskusi publik berbasis kata/istilah populer. Membongkar istilah atau kata yang kerap didengar di publik akan membantu kita bersama melihat, menyikapi, dan melampaui situasi-situasi masyarakat kontemporer dengan cara yang kritis.
              </p>
              <p>Menampilkan:</p>
                <ul>
                    <li>Khairani Barokka (seniman & akademisi, London) tentang ”ableism dan kolonialisme” </li>
                    <li>Lailatul Fitriyah (akademisi, Indiana), tentang ”Islam”</li>
                    <li>Elvira Rumkabu (akademisi, Jayapura) tentang ”rasisme”</li>
                    <li>Fathimah Fildzah Izzati (penulis, peneliti, Jakarta) tentang ”kerja”</li>
                </ul>
            </td>
          </tr>
          <tr>
            <td><p>Malam<br>(19.00 – 21.00)</p></td>
            <td>
              <p>
                <b>Empat Puan Suara</b><br>
                Konser Ceramah<br>
                Moderator: Nya' Ina Raesuki
              </p>
              <p>Empat ragam suara perempuan akan saling merespons. Nyanyian mereka lahir dan diolah dari empati yang dalam pada kawan seperjalanan dan alasan-alasan kenapa mereka saling merindukan. Dipandu oleh Nya’ Ina Raseuki, di antara lagu-lagu yang akan dilantunkan secara langsung, empat pesuara ini akan mengungkap rahasia di balik cerita-nyanyi mereka.
              </p>
              <p>Penampil: Kahi Ata Ratu (pemusik, Sumba), Septina Rosalina Layan (komposer & pemusik, Yogyakarta), Nova Ruth (pemusik, Malang), Sylvia Saartje (penyanyi & penggubah lagu, Malang).
              </p>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
