---
title: Evaluasi Cipta Media Ekspresi
layout: info
---

<link rel="stylesheet" href="{{site.baseurl}}/static/css/index.css">

<div class="container">
  {% include title-header.html %}
  <div class="row">
    <div class="col-lg-12 text-center">
      <h1 class="allcaps">{{ page.title }}</h1>
    </div>
  </div>
  {% assign evaluasi = site.posts | where: "title", "Sebanyak 250 Perempuan dari 27 Provinsi di Indonesia Mendaftarkan Hibah Cipta Media Ekspresi" %}
  {% for post in evaluasi %}
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <h2 class="allcaps text-center">{{ post.title }}</h2>
      {{ post.content }}
    </div>
  </div>
  {% endfor %}
  <div class="row">
    <div class="col-md-10 col-md-offset-1 text-center">
      <a href="{{site.baseurl}}/ciptamediaekspresi/pemohon-ekspresi" class="index-link">
        <img class="img-responsive center-block" src="{{site.baseurl}}/static/img/landing/CME_Aset_GirlBack_index.png" style="max-height: 140px;">
        <br>Pemohon Hibah
        <br>Cipta Media Ekspresi
      </a>
    </div>
  </div>
</div>
