---
title: Festival Cipta Media Ekspresi
layout: info
---
<script>
$(document).ready(function() {
  $('.more-less').click(function() {
    $('.more-less').toggle();
  });
});
</script>
<section id="header" style="background-image: url(/static/img/landing/timeline-header.png);background-size: cover;background-attachment: scroll;background-repeat: no-repeat;background-position: bottom;height: 40vh;width: 100%">
</section>
<div class="container">
  <div class="row">
    <div class="col-lg-12 index-col">
      <h1 class="text-center allcaps yellow-header">{{ page.title }}</h1>
      <hr>
      <p>Festival Cipta Media Ekspresi: Etalase Pemikiran Perempuan (CME-Fest) adalah arena berkumpul para penerima dan penyelenggara hibah CME untuk melakukan presentasi publik bersama-sama. Kegiatan ini merupakan suatu etalase untuk memajang proses kerja dan pemikiran perempuan yang telah dihasilkan melalui kegiatan pemberian hibah. <a href="#more" data-toggle="collapse" class="more-less">Selengkapnya...</a></p>
      <div id="more" class="collapse">
        <p>Kalau sejak setahun yang lalu para penerima bekerja terpisah di tempat proyeknya masing-masing, maka di CME-Fest mereka diharapkan untuk saling mengenalkan pencapaiannya dan melihat karyanya sebagai bagian dari jaringan perkembangan pemikiran dan penciptaan yang lebih luas. Selain itu, interaksi dengan pengunjung juga diharapkan menjadi suatu proses memamah bersama hasil proses tiap proyek, menjadikannya asupan dan bahan mengolah pemikiran atau karya cipta yang lebih banyak lagi di masa depan.</p>
        <p>Seperti lazimnya etalase, ada sesuatu yang dipajang untuk bisa dibeli dan dipakai. CME-Fest terdiri atas pertunjukan, seminar/presentasi, pameran, lokakarya dan bazaar mini. Suasana acara diharapkan memberi ruang dan konsentrasi yang cukup untuk mengenali dan menghayati pencapaian tiap proyek dan menonjolkan keragaman pikiran dan kemampuan perempuan Nusantara. Jika di etalase toko yang dipamerkan adalah barang jadi yang siap masuk kantong belanja, dalam CME-Fest pengunjung akan menjumpai  tawaran pemikiran dan cerita liku-liku proses penciptaannya, serta berdialog langsung dengan perempuan penciptanya. Karenanya, peristiwa CME-Fest menjadi forum penting tempat gagasan ditawarkan, dirayakan dan diperkaya bersama untuk dijadikan inspirasi kolektif.</p>
        <p>Seperti layaknya proses berpikir dan mencipta, ada relung-relung gelap dan kritis yang juga harus dijelajahi bersama di festival ini. Sembari merayakan pencapaian, ada batasan dan tantangan yang harus kita kenali dan lalu bersiap untuk menghadapinya bersama. Salah satunya adalah tantangan untuk terus bekerja dan bekerjasama memperluas medan pikiran dan penciptaan perempuan ke seluruh Nusantara. Juga, tantangan untuk menghadapi resistensi (bahkan pencegahan!) terhadap pembentukan pemikiran dan ujaran budaya perempuan yang tidak saja datang dari luar kalangan perempuan, tapi bisa juga muncul dari sesama perempuan. CME-Fest bukan tempat untuk mengorganisir satu pendapat yang seragam tentang strategi memajukan harkat perempuan, akan tetapi lebih mirip tempat berdebat dan mengasah ketajaman pikiran. Saya sungguh berharap kita semua meninggalkan etalase CME-Fest dengan banyak gagasan baru dan taktik jahil yang kaya imajinasi untuk kita tawarkan ke banyak orang lain. Setidaknya, setahun menjalankan hibah CME ini sudah mendorong kelahiran banyak ilham untuk saya. Saya harap Anda pun akan mengalami dorongan yang sama.</p>
        <p>Mari berfestival!</p>
        <p>
          Lisabona Rahman<br>
          Koordinator Mentor CME
        </p>
        <a href="#more" data-toggle="collapse" class="more-less" style="display: none">Sembunyikan...</a>
      </div>
      <div class="row text-center">
        <h1 class="text-center allcaps yellow-header">Jadwal Acara</h1>
        <hr>
        <div class="col-xs-2 col-xs-offset-3 text-center">
          <a href="#jumat" data-toggle="pill"><h3 class="allcaps">Jumat<br>26 April</h3></a>
        </div>
        <div class="col-xs-2 text-center">
          <a href="#sabtu" data-toggle="pill"><h3 class="allcaps">Sabtu<br>27 April</h3></a>
        </div>
        <div class="col-xs-2 text-center">
          <a href="#minggu" data-toggle="pill"><h3 class="allcaps">Minggu<br>28 April</h3></a>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container tab-content">
  <div id="jumat" class="row tab-pane fade active in">
    <div class="col-md-12">
      <h2 class="text-center">Jumat, 26 April 2019</h2>
      <table class="table">
        <thead>
          <tr>
            <th class="text-center col-md-2">Waktu</th>
            <th class="text-center col-md-10">Kegiatan</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><p>Siang<br>(13.30-15.30)</p></td>
            <td>
              <p>
                <b>Lokakarya membaca fiksi untuk audiobook</b><br>
                (Indah Darmastuti & Kadek Sonia Piscayanti)
              </p>
              <p>
                <b>Lokakarya Nyanyian Yaghai</b><br>
                (Septina Layan)
              </p>
            </td>
          </tr>
          <tr>
            <td><p>Sore<br>(15.30 – 17.30)</p></td>
            <td><p>Konferensi Pers</p></td>
          </tr>
          <tr>
            <td><p>Malam<br>(19.00-21.30)</p></td>
            <td>
              <p>
                <b>Pembukaan</b><br>
                (Naomi Srikandi)
              </p>
              <p>Pertunjukan:</p>
              <ol>
                <li><b>Pasinaon Omah Kendheng</b> (Endah Fitriana)</li>
                <li><b>Pembacaan Monolog</b> (Kadek Sonia Piscayanti)</li>
                <li><b>Nyanyian</b> (Kahi Ata Ratu)</li>
                <li><b>Open mic</b></li>
              </ol>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div id="sabtu" class="row tab-pane fade">
    <div class="col-md-12">
      <h2 class="text-center">Sabtu, 27 April 2019</h2>
      <table class="table">
        <thead>
          <tr>
            <th class="text-center col-md-2">Waktu</th>
            <th class="text-center col-md-10">Kegiatan</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><p>Pagi<br>(09.00-12.30)</p></td>
            <td>
              <div>
                <b><a href="#klinik-menulis" data-toggle="collapse">Klinik Menulis</a></b><br>
                <div id="klinik-menulis" class="collapse">
                  <p>Dari mana datangnya cerita? Kisah macam apa yang perlu diceritakan? Strategi kreatif apa saja yang dapat digunakan untuk menghubungkan pengalaman, narasi, dan wacana sosial, budaya, dan politik yang melapisinya? Dalam Klinik Menulis, para penulis penerima Hibah Cipta Media Ekspresi akan memaparkan gagasan yang melatari karya mereka, termasuk di dalamnya perjalanan, pertemuan, dan ingatan. Secara bersama-sama, peserta Klinik Menulis akan mengidentifikasi dan mendiskusikan tantangan yang dihadapi dalam proses menulis. Forum ini juga akan membahas ragam eksplorasi teknik bercerita, perspektif feminis dalam sastra, dan proses evaluasi karya.</p>
                </div>
                Pembicara: Mona Sylviana, Intan Andaru, Raisa Kamila<br>
                Fasilitator/Moderator: Intan Paramaditha
              </div>
              <hr>
              <div>
                <b><a href="#diskusi-film" data-toggle="collapse">Panel Diskusi Film</a></b><br>
                <div id="diskusi-film" class="collapse">
                  <ol>
                    <li>Kenapa memilih topik film ini? Apakah ada hal mendesak yang ingin dipersoalkan dengan topik ini?</li>
                    <li>Apakah peran hibah CME dalam proyekmu?</li>
                    <li>Bagaimana jaringan yang terbentuk dari penerima CME dapat membantu menyebarkan pemikiran yang diolah dalam filmmu?</li>
                  </ol>
                </div>
                Pembicara: Wenda Maria, Luviana Ariyanti, Yulia Evina Bhara, Chonnie Prysilia<br>
                Fasilitator/Moderator: Lisabona Rahman
              </div>
              <hr>
              <div>
                <b>Kelas master Memetik Jungga dan Menyanyikan Lirik</b><br>
                (Kahi Ata Ratu)<br>
                Moderator: Septina Layan
              </div>
            </td>
          </tr>
          <tr>
            <td><p>Lunch talk<br>(12.30 – 13.30)</p></td>
            <td>
              <p>
                Bakudapan – lecture performance / dialog
              </p>
            </td>
          </tr>
          <tr>
            <td><p>Siang<br>(13.30-15.30)</p></td>
            <td>
              <div>
                <b><a href="#diskusi-pertunjukan" data-toggle="collapse">Panel Diskusi Seni Pertunjukan</a></b><br>
                <div id="diskusi-pertunjukan" class="collapse">
                  <p>Seni pertunjukan tak pernah kekurangan perempuan, tetapi pemikiran maupun pengalaman perempuan jarang diakui sebagai sumber penting dalam penciptaan seni pertunjukan. Perempuan seringkali hanya dianggap sebagai pelengkap, pendukung perwujudan gagasan sutradara, penulis, koreografer, atau komposer laki-laki. Dalam panel ini akan dibahas bagaimana pemikiran dan pengalaman perempuan dikembangkan dalam karya pertunjukan melalui inisiatif sejumlah perempuan peraih hibah CME, mulai dari tema yang mereka bicarakan hingga pendekatan manajemen produksi dan artistik yang mereka gunakan. Berbicara mengenai manajemen produksi dan artistik, sebagai medium yang multidisiplin, seni pertunjukan acapkali membutuhkan kerja kolektif yang tak ringan. Bagaimana elemen-elemen pertunjukan dilibatkan dalam membangun struktur atau narasi karya pertunjukan? Dengan siapa para perempuan ini berkolaborasi, mengapa? Bagaimana mereka merancang dan mengatur lalu lintas ide bersama dan menjaga dinamika proses kolaborasinya? Siapa target publik mereka, bagaimana persepsi publik dan tanggapan mereka terhadap karya yang disajikan?</p>
                </div>
                Pembicara: Irina Dayasih, Sylvia Saartje, Nova Ruth, Kadek Sonia, dan Nanik Indarti<br>
                Fasilitator/Moderator: Naomi Srikandi
              </div>
              <hr>
              <div>
                <b><a href="#her-story" data-toggle="collapse">Panel Diskusi "Herstory"</a></b><br>
                <div id="her-story" class="collapse">
                  <p>Cerita menggerakkan perlawanan dan perubahan, namun cerita juga digunakan untuk menandai kalah-menang, apa yang patut terus diceritakan serta apa yang boleh dilupakan. Cerita mana yang kita dengar ditentukan oleh siapa yang berkuasa dan nilai-nilai dominan yang mendukungnya. Dalam budaya patriarki, cerita perempuan kerap dianggap remeh, tak pantas diingat apalagi dicatat, sehingga banyak pemikir maupun seniman perempuan terhapus dari sejarah. Upaya mengangkat cerita dan pemikiran perempuan merupakan penolakan terhadap narasi dominan berikut sudut pandang patriarkis dalam praktik pendokumentasian dan penulisan sejarah. Dalam panel ini, penerima hibah Cipta Media Ekspresi akan menuturkan proses mengumpulkan dan mengolah cerita perempuan pencipta demi membongkar celah-celah problematis dalam seni budaya, khususnya di ranah sastra, sejarah, media, dan seni rupa.</p>
                </div>
                Pembicara: Dewi Noviami, Lia Anggia Nasution, Rena Amalika Asyari, Alia Swastika, Martha Hebi<br>
                Fasilitator/Moderator: Heidi Arbuckle Gultom
              </div>
            </td>
          </tr>
          <tr>
            <td><p>Sore<br>(15.30 – 17.30)</p></td>
            <td>
              <div>
                <b><a href="#diskusi-musik" data-toggle="collapse">Diskusi "Perempuan, Musik dan Komunitas"</a></b><br>
                <div id="diskusi-musik" class="collapse">
                  <p>Bagaimana kita memaknai peran perempuan dalam hubungan antara musik dan komunitas? Penelusuran hubungan musik dan komunitas biasanya akan memperkenalkan kita pada peran musik dalam mengungkapkan persoalan, pencarian solusi, maupun nilai-nilai yang hidup di dalam komunitas itu, serta identitasnya. Bagaimana dengan upaya perempuan menggunakan musik sebagai ruang eksplorasi diri, ekspresi pendapat, maupun membangun kepemimpinan di tengah masyarakatnya? Bagaimana pula dengan respon yang diperoleh kelompok perempuan dalam bermusik dari komunitasnya itu, dalam hal estetika musik, pertunjukan maupun pesannya? Sejauh mana respon tersebut mengindikasikan perubahan cara pikir dan sikap komunitas tentang peran dan posisi perempuan di dalam masyarakat? Pertanyaan-pertanyaan tersebut di atas itulah yang akan menjadi diskusi dalam sesi musik & komunitas. Diskusi ini akan diawali dengan pantikan refleksi dari 5 penerima hibah CME, yaitu Endah Fitriana (komunitas Kendeng/Jawa Tengah), Nikfon Wuny (Yanger, desa Lolori/Halmahera Barat), Ade Tanesya (komunitas Pagu/Halmahera Timur), Septina Layan (suku Yanghai/Papua), Agnes Serfozo (Seblang, desa Bakungan/Jawa Timur).</p>
                </div>
                Pembicara: Endah Fitriana, Nikfon Wuny, Ade Tanesya, Septina Layan, Agnes Serfozo<br>
                Fasilitator/Moderator: Andy Yentriyani
              </div>
              <hr>
              <div>
                <b><a href="#ruang-perempuan" data-toggle="collapse">Diskusi Ruang Perempuan - presentasi refleksi</a></b><br>
                <div id="ruang-perempuan" class="collapse">
                  <p>Ruang tergenderkan dalam fungsi, dalam batasan kemungkinan memproduksi imajinasi, relasi-relasi hingga hingga ragam wujud produksinya. Tubuh perempuan adalah ruang, namun ia dilupakan ruang itu sendiri. Bagaimana kita melihat reproduksi gender dalam ruang yang kita inisiasi?</p>
                  <p>Ketika bekerja dengan khas memproduksi Media Zine, Pameran Seni Rupa, Ruang diskusi dan kolaborasi, maupun melakukan riset aksi dan lewat belajar, usai membuka ruang produksi bagaimana kita memberi ruang reflektif akan kecenderungan mengulangi konstruksi sosial? Apa yang konstruksi atas gender diktekan dan harapkan terhadap inisiatif-inisiatif kita? Ukuran-ukuran apa yang kita gunakan dan perbaharui dalam menciptakan ruang perempuan?</p>
                  <p>Bagaimana kita dengan sadar menginisiasi dan memproduksi pola ruang yang kita kenal dalam rangka menjadi produktif? Dan mengkritisi cara-cara kita melakukannya? Apa yang tanpa sadar kita tiru dan ulangi dari pihak yang kita lawan atau pertanyakan? Apa yang bisa kita lakukan untuk merelokasi dan menulis ulang gender dari dalam dan melampaui ruang yang sudah tergender?</p>
                </div>
                Pembicara: Citra Hasan, Indah Fikriyyati, Ciptaningrat Larastiti, Delva Rahman<br>
                Fasilitator/Moderator: Cecil Mariani
              </div>
              <hr>
              <div>
                <b>Guided tour pameran</b><br>
                (Rhidian Yasminta Wasaraka, Sanchia Tryphosa Hamidjaja, Julianti Huki & Norci Nomleni)<br>
                Fasilitator: Cecil Mariani
              </div>
            </td>
          </tr>
          <tr>
            <td><p>Malam<br>(19.00-21.30)</p></td>
            <td>
              <p>
                <b>Pertunjukan</b><br>
                Fasilitator: Naomi Srikandi
              </p>
              <ol>
                <li><b>Paduan Suara Nyanyian Yaghai</b> (Hasil Workshop)-Septina Layan</li>
                <li><b>Dramatic Reading</b> (Nanik Indarti)</li>
                <li><b>Sylvia Saartje - <i>Unplugged Story</i></b></li>
                <li><b>Open mic</b></li>
              </ol>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div id="minggu" class="row tab-pane fade">
    <div class="col-md-12">
      <h2 class="text-center">Minggu, 28 April 2019</h2>
      <table class="table">
        <thead>
          <tr>
            <th class="text-center col-md-2">Waktu</th>
            <th class="text-center col-md-10">Kegiatan</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><p>Pagi<br>(09.00-12.30)</p></td>
            <td>
              <div>
                <b><a href="#diskusi-pleno" data-toggle="collapse">Diskusi pleno “Metode Penelitian dan Penciptaan Kritis/Feminis”</a></b><br>
                <div id="diskusi-pleno" class="collapse">
                  <p>Mengapa penelitian dilakukan? Mengapa sebuah karya harus ada? Panel ini membicarakan metodologi penelitian dan penciptaan berperspektif feminis sebagai upaya intervensi terhadap pengetahuan dan perubahan sosial. Berangkat dari pemaparan proses riset penerima hibah Cipta Media Ekspresi, kita akan mendiskusikan bagaimana riset dilakukan dengan menimbang struktur kuasa sekaligus pengalaman, negosiasi dan perlawanan subyek, khususnya perempuan dan kelompok minoritas. Pertanyaan kritis macam apa yang diajukan? Apa yang genting dalam proses berpikir, mengumpulkan data, dan mencipta? Seperti apa posisi etik peneliti/ seniman dalam hubungannya dengan subyek, proses produksi pengetahuan, serta praktik representasi?</p>
                </div>
                Pembicara: Erni Aladjai, Tamara Pertamina, Rhidian Yasminta Wasaraka, Sri Harti, Nur Handayani<br>
                Fasilitator/Moderator: Intan Paramaditha
              </div>
            </td>
          </tr>
          <tr>
            <td><p>Lunch talk<br>(12.30 – 13.30)</p></td>
            <td>
              <p>
                <b>Rekaman audiobook, hasil workshop</b><br>
                (Indah Darmastuti & Kadek Sonia Piscayanti)
              </p>
            </td>
          </tr>
          <tr>
            <td><p>Sore<br>(15.30 – Selesai)</p></td>
            <td>
              <p>
                <b>Penutupan</b><br>
                Fasilitator: Lisabona Rahman
              </p>
              <p>
                <b>Pertunjukan</b>
              </p>
              <ol>
                <li><b>Akustik </b> (Nova Ruth)</li>
                <li><b>DJ Music Party</b> (Purbasari)</li>
              </ol>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
