---
title: Beranda Cipta Media Ekspresi
author: Cipta Media
layout: base
---
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.2/assets/owl.carousel.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.2/assets/owl.theme.default.css" />
<link href="{{site.baseurl}}/static/css/index-nav.css" rel="stylesheet">

<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.2/owl.carousel.min.js"></script>

<script>
function checkAuth(user) {
  if (!user) {
    netlifyIdentity.on("login", function() {
      document.location.href = "{{site.baseurl}}/formcme.html";
    });
  }

  if (user && (user.user_metadata.registered || user.user_metadata.cme_form_submitted)) {
    $("#registercme").addClass("disabled");
    $("#registercme").text('Sudah Terdaftar!');
  }
}

{% if site.environment != 'production' %}
function oauth() {
  var popup = window.open("", "_blank");

  $.ajax({
    url: "https://web.api.commento.io/oauth/new-empty-state",
    type: "GET",
    success: function(data) {
      var resp = JSON.parse(data);

      if (resp.success) {
        document.cookie = "state=" + resp.state + "; path=/";
        popup.location = "https://web.api.commento.io/oauth/google/redirect?state=" + resp.state;

        var interval = setInterval(function() {
          if (popup.closed) {
            clearInterval(interval);
            var json = {"state": resp.state};
            $.ajax({
              url: "https://web.api.commento.io/oauth/self",
              type: "POST",
              data: JSON.stringify(json),
              success: function(data) {
                var me = JSON.parse(data);
                console.log(me);
                if (me.success) {
                  console.log("successful google oauth for commento");
                  $('#commento-oauth').text('Sudah masuk!').attr('disabled', 'disabled');
                }
                else {
                  console.log("unsuccessful google oauth for commento");
                  // TODO: unsuccessful login (maybe the closed the popup?)
                }
              },
            });
          }
        }, 250);
      }
    },
  });
}
{% endif %}

$(document).ready(function(){
  $("a").on('click', function(event) {
    if (this.hash !== "") {
      event.preventDefault();
      var hash = this.hash;
      $('html, body').animate({
        scrollTop: $(hash).offset().top
      }, 800, function(){
        window.location.hash = hash;
      });
    }
  });

  var user = netlifyIdentity.currentUser();

  $("#registercme").click(function(event){
    if (!user) {
      netlifyIdentity.open();
      return false;
    }
  });

  checkAuth(netlifyIdentity.currentUser());
});

netlifyIdentity.on("init", checkAuth);
</script>

{% include facebook-jssdk.html %}

  <nav id="nav" class="navbar">
    <div class="container">

      <div class="navbar-header">
        <!-- Logo -->
        <div class="navbar-brand">
          <a href="{{site.baseurl}}/">
            <img class="logo" src="{{site.baseurl}}/static/img/landing/logo-ekspresi-typo.png" alt="logo">
            <img class="logo-alt" src="{{site.baseurl}}/static/img/landing/logo-ekspresi-typo-w.png" alt="logo">
          </a>
        </div>

        <!-- Collapse nav button -->
        <div class="nav-collapse">
          <span></span>
        </div>
      </div>

      <!--  Main navigation  -->
      <ul class="main-nav nav navbar-nav navbar-right">
        <li><a href="{{site.baseurl}}/ciptamediaekspresi/">Beranda</a></li>
        <li class="has-dropdown"><a>Daftar</a>
          <ul class="dropdown">
            <li><a href="{{site.baseurl}}/formcme">Formulir</a></li>
            <li><a href="{{site.baseurl}}/ciptamediaekspresi/syarat-ekspresi">Syarat & Ketentuan</a></li>
            <li><a href="{{site.baseurl}}/ciptamediaekspresi/faq-ekspresi">Pertanyaan Umum</a></li>
          </ul>
        </li>
        <li><a href="{{site.baseurl}}/ciptamediaekspresi/blog">Blog</a></li>
        <li class="has-dropdown"><a>Pemohon Hibah</a>
          <ul class="dropdown">
            <li><a href="{{site.baseurl}}/ciptamediaekspresi/pemohon-ekspresi">Permohonan Hibah Masuk</a></li>
            <li><a href="{{site.baseurl}}/ciptamediaekspresi/peta">Peta</a></li>
          </ul>
        </li>
        <li class="has-dropdown"><a>Tentang</a>
          <ul class="dropdown">
            <li><a href="{{site.baseurl}}/ciptamediaekspresi/tentang-ekspresi">Latar Belakang</a></li>
            <li><a href="{{site.baseurl}}/ciptamediaekspresi/juri-ekspresi">Juri & Panitia</a></li>
            <li><a href="{{site.baseurl}}/ciptamediaekspresi/timeline-ekspresi">Linimasa</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </nav>
  <!-- /Nav -->

<div class="index-wrap">
  <div class="section-header text-center">
    <h1 class="title">Selamat Kepada Penerima Hibah</h1>
  </div>
  {% include grant-recipient-block.html index="0" %}

  <div class="container">
      <div class="row text-center">
          <a href="{{site.baseurl}}/ciptamediaekspresi/blog/" class="btn main-btn">
              Kabar Terbaru
          </a>
      </div>
  </div>

  <section class="index-margin">
      <div class="container">
          <div class="row">
              <div class="section-header text-center">
                  <h2 class="title">Cipta Media Ekspresi</h2>
              </div>
              <div class="col-md-4">
                  <img class="img-responsive center-block" src="{{site.baseurl}}/static/img/landing/CME_Aset_Leaf_Blue.png">
              </div><!--
              --><div class="col-md-6">
                  <p style="font-size: 1.2em; line-height: 1.5">Cipta Media Ekspresi merupakan hibah untuk perempuan pelaku kebudayaan di segala bidang seni. Hibah dapat digunakan untuk membuat, mengkaji, melakukan perjalanan serta membantu perempuan mencipta atau menampilkan karya.</p>
                  <p style="font-size: 1.2em; line-height: 1.5">Karya dapat berupa ciptaan asli, kajian, pemilihan benda-benda untuk dipamerkan atau diarsipkan dengan maksud mempertunjukkan atau berbagi.</p>
                  <p style="font-size: 1.2em; line-height: 1.5">Jumlah total dana hibah Cipta Media Ekspresi adalah 3,5 milyar rupiah bagi proyek yang dapat diselesaikan sebelum 28 Februari 2019.</p>
                  <a class="index-link" href="{{site.baseurl}}/ciptamediaekspresi/tentang-ekspresi" style="font-size: 1.2em; line-height: 1.5">Selengkapnya</a>
              </div>
          </div>
      </div>
  </section>

  {% include profile-carousel.html %}

  {% include stats.html %}
</div>

<script type="text/javascript" src="{{site.baseurl}}/static/js/mainpage.js"></script>
