---
title: Kalender Aktivitas CME
layout: info
startYear: 2018
---

    {% assign category = site.categories['CME'] %}

    <div class="container" style="margin-top: 30px;">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h1 class="index-title">{{ page.title }}</h1>
            </div>
        </div>
    </div>
    {% include kalender.html %}
