---
title: Peluncuran Cipta Media Ekspresi
layout: info
---

<link rel="stylesheet" href="{{site.baseurl}}/static/css/index.css">

<div class="container">
  {% include title-header.html %}
  <div class="row">
    <div class="col-lg-12 text-center">
      <h1 class="allcaps">{{ page.title }}</h1>
    </div>
  </div>
  {% assign peluncuran = site.posts | where: "title", "Hibah 3,5 M Cipta Media Ekspresi Untuk Perempuan Pencipta Seni dan Budaya Diluncurkan" %}
  {% for post in peluncuran %}
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <h2 class="allcaps text-center">{{ post.title }}</h2>
      {{ post.content }}
    </div>
  </div>
  {% endfor %}
  <div class="row">
    <div class="col-md-10 col-md-offset-1 text-center">
      <a href="{{site.baseurl}}/formcme" class="index-link">
        <img class="img-responsive center-block" src="{{site.baseurl}}/static/img/landing/CME_Icon_Form.png" style="max-height: 140px;">
        <br>Formulir Pendaftaran
        <br>Cipta Media Ekspresi
      </a>
    </div>
  </div>
</div>
