---
title: Pemohon Hibah
layout: info
---

    <div class="container" style="margin-top: 30px;">
        <div class="row">
            <div class="col-lg-12 text-center">
                <img class="img-responsive center-block" src="{{site.baseurl}}/static/img/landing/kategori.png">
                <h1 class="index-title">{{ page.title }}</h1>
                <p>Terima kasih kepada 1.168 (seribu seratus enam puluh delapan) permohonan hibah dari 34 provinsi di Indonesia. Seleksi hibah telah berakhir dan tim kami sudah mendistribusikan hibah kepada pemohon hibah yang terpilih.</p>
                <p>Untuk informasi penerima hibah dapat Anda lihat <a href="https://ciptamedia.org/ciptamediaekspresi/penerimahibah/">di sini</a></p>    
            </div>
        </div>
<!--
        <div class="row">
          <div class="masonry">
            {% for hibah in site.hibahcme reversed %}
              {% if hibah.nomor contains "f" %}
              {% elsif hibah.nomor < 1000 %}
              {% else %}
              {% assign counter = counter | plus:1 %}
                {% if counter == 24 %}
                  {% break %}
                {% else %}

               {% assign foto_url_first_char = hibah.foto.url | slice: 0 %}
               {% if foto_url_first_char == '/' %}
                 {% assign foto_url = hibah.foto.url | absolute_url %}
               {% else %}
                 {% assign foto_url = hibah.foto.url %}
               {% endif %}
               {% if hibah.foto_rotate %}
                 {% assign foto_src = foto_url
                                    | replace_first: ".com", ".com.rsz.io"
                                    | append: "?width=300"
                                    | append: "&amp;rotate="
                                    | append: hibah.foto_rotate
                                    %}
               {% else %}
                 {% assign foto_src = "https://zimage.global.ssl.fastly.net/?url="
                                    | append: foto_url
                                    | append: "&amp;width=300"
                                    %}
               {% endif %}

            <div class="masonry-item">
                <a href="{{ site.baseurl }}{{ hibah.url }}">
                    <div class="card" style="box-shadow: 0 0 0px 0 rgba(0, 0, 0, 0), 0 0 0px 0 rgba(0, 0, 0, 0), 0 0 0px 0 rgba(0, 0, 0, 0);">
                        <div class="card-image">
                            <img
                              class="rsz-fallback img-responsive center-block"
                              src="{{ foto_src }}"
                            >
                        </div>
                    </div>
                </a>
            </div>
                {% endif %}
              {% endif %}
            {% endfor %}

        </div>

        <div class="row" style="margin-top: -40px">
            <div class="col-md-12">
                <div class="text-center" id="map"></div>
            </div>
        </div>
-->

        <!-- <div class="row">
            <div class="masonry">
            {% for hibah in site.hibahcme %} -->
              <!--
               {% assign foto_url_first_char = hibah.foto.url | slice: 0 %}
               {% if foto_url_first_char == '/' %}
                 {% assign foto_url = hibah.foto.url | absolute_url %}
               {% else %}
                 {% assign foto_url = hibah.foto.url %}
               {% endif %}
               {% if hibah.foto_rotate %}
                 {% assign foto_src = foto_url
                                    | replace_first: ".com", ".com.rsz.io"
                                    | append: "?width=300"
                                    | append: "&amp;rotate="
                                    | append: hibah.foto_rotate
                                    %}
               {% else %}
                 {% assign foto_src = "https://zimage.global.ssl.fastly.net/?url="
                                    | append: foto_url
                                    | append: "&amp;width=300"
                                    %}
               {% endif %}
              -->


                <!-- <div class="masonry-item">
                    {% assign popup = hibah.title | append: ' - ' | append: hibah.nama | xml_escape %}
                    <a href="{{ hibah.url }}" data-toggle="tooltip" data-placement="bottom" title="{{ popup }}">
                        <div class="card" style="box-shadow: 0 0 0px 0 rgba(0, 0, 0, 0), 0 0 0px 0 rgba(0, 0, 0, 0), 0 0 0px 0 rgba(0, 0, 0, 0);">
                            <div class="card-image">
                                <img
                                  class="rsz-fallback img-responsive center-block"
                                  src="{{ hibah.foto.url }}"
                                >
                            </div>
                        </div>
                    </a>
                </div>
            {% endfor %}
            </div>
        </div> -->
    </div>

    <script src="{{site.baseurl}}/static/js/rsz-fallback.js"></script>

{% include stats.html %}

<!--
    {% include_cached peta.html %}
-->
