---
title: Pemohon Hibah - Tabel
layout: info
---

    <style>
      .fa-check {
        color: #2DC464;
      }
      .fa-times {
        color: #F85154
      }
    </style>
    {% if jekyll.environment != 'production' %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/TableExport/3.2.5/css/tableexport.min.css">
    <script src="https://cdn.rawgit.com/eligrey/FileSaver.js/e9d941381475b5df8b7d7691013401e171014e89/FileSaver.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/TableExport/5.0.0/js/tableexport.min.js"></script>
    {% endif %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.30.1/js/jquery.tablesorter.js"></script>
    <div class="container" style="margin-top: 30px;">
        <div class="row">
            <div class="col-lg-12 text-center">
                <img class="img-responsive center-block" src="{{site.baseurl}}/static/img/landing/kategori.png">
                <h1 class="index-title">{{ page.title }}</h1>
            </div>
        </div>
        <div class="row" style="margin-top: 30px">
            <div class="col-lg-12">
                {% assign total_hibah = 0 %}
                {% for request in site.hibahcme %}
                  {% assign total_hibah = total_hibah | plus: request.dana %}
                {% endfor %}
                {% assign temp = total_hibah | split: "." %}
                {% assign total-no-comma = temp[0] %}
                <h2 class="text-center">TOTAL PERMINTAAN HIBAH: Rp. {{ total-no-comma }} Juta</h2>
                <table id="pemohonHibah" class="table table-striped">
                    <thead>
                        <tr>
                            <th>Nomor <i class="fa fa-angle-down" aria-hidden="true"></i></th>
                            <th>Nama Proyek <i class="fa fa-angle-down" aria-hidden="true"></i></th>
                            <th>Nama <i class="fa fa-angle-down" aria-hidden="true"></i></th>
                            <th>Lokasi <i class="fa fa-angle-down" aria-hidden="true"></i></th>
                            <th>Kategori <i class="fa fa-angle-down" aria-hidden="true"></i></th>
                            <th>Dana <i class="fa fa-angle-down" aria-hidden="true"></i></th>
                            <th>Link <i class="fa fa-angle-down" aria-hidden="true"></i></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for hibah in site.hibahcme %}
                        <tr>
                            <td>{{ hibah.nomor }}</td>
                            <td><a href="{{ site.baseurl }}{{ hibah.url }}">{{ hibah.proyek | xml_escape }}</a></td>
                            <td>{{ hibah.nama }}</td>
                            <td>{{ hibah.lokasi }}</td>
                            <td>{{ hibah.kategori }}</td>
                            <td>Rp. {{ hibah.dana }} Juta</td>
                            <td><a href="{{ site.baseurl }}{{ hibah.url }}">{{ site.url }}{{ site.baseurl }}{{ hibah.url }}</a></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <script>
                {% if jekyll.environment != 'production' %}
                var ExportTable = document.getElementById('pemohonHibah');
                new TableExport(ExportTable, {
                    formats: ['xls', 'csv']
                });
                {% endif %}
                $(function() {
                    $("#pemohonHibah").tablesorter();
                });
            </script>
        </div>
    </div>
