---
title: Proses Hibah Cipta Media Ekspresi
project: cme
startYear: 2018
layout: info
---

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.2/assets/owl.carousel.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.2/assets/owl.theme.default.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.2/owl.carousel.min.js"></script>

{% include process-page.html %}

<div class="container">
  <div class="row">
    <div class="col-lg-12 text-center index-col">
      <h1 class="allcaps">Perkembangan Hibah Cipta Media Ekspresi</h1>
      <hr class="index-hr">
      <div class="row">
        <div class="col-md-3 col-md-offset-3 text-center">
          <a href="#kalender" data-toggle="pill"><h3 class="allcaps">Kalender Aktivitas</h3></a>
        </div>
        <div class="col-md-3 text-center">
          <a href="#blog" data-toggle="pill"><h3 class="allcaps">Berita Terbaru</h3></a>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container tab-content">
  <div id="kalender" class="row tab-pane fade">
    <div class="col-lg-12 text-center">
      {% assign category = site.categories['CME'] %}
      {% assign upcoming = site.upcoming-events %}
      {% include kalender.html %}
    </div>
  </div>
  <div id="blog" class="row tab-pane fade">
    <div class="col-md-12">
      {% for post in site.categories['CME'] %}
      {% unless post.categories contains 'laporan' %}
      {% assign total-post = total-post | plus: 1 %}
      <div class="row">
        <div class="col-sm-4 col-xs-12 vcenter">
          <img src="{{ post.img }}" class="img-responsive center-block" style="max-height:140px">
        </div><!--
        --><div class="col-sm-8 col-xs-12 vcenter">
          <a href="{{ post.url | prepend: site.baseurl }}"><h3>{{ post.title }}</h3></a>
          <i class="fa fa-clock-o"></i> <a>{{ post.date | date: site.default_date_format }}</a>
          <p>{{ post.content | strip_html | truncatewords:30 }}</p>
          <div class="row">
            <div class="col-sm-12">
              {% for tag in post.tags %}
              <button class="btn btn-white btn-xs" type="button">{{ tag }}</button>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
      {% if total-post == site.index_post_count %}
        {% break %}
      {% endif %}
      {% endunless %}
      {% endfor %}
      <div class="text-center">
        <a href="{{site.baseurl}}/ciptamediaekspresi/blog/" class="btn btn-lg btn-info btn-rounded btn-outline wow bounceIn">
          Selengkapnya
        </a>
      </div>
    </div>
  </div>
</div>
{% include grant-recipient-block.html index="0" %}
