---
title: Sekolah Pemikiran Perempuan
layout: info
---
<script>
$(document).ready(function() {
  $('.more-less').click(function() {
    $('.more-less').toggle();
  });
});
</script>
<section id="header" style="background-image: url(/static/img/landing/timeline-header.png);background-size: cover;background-attachment: scroll;background-repeat: no-repeat;background-position: bottom;height: 40vh;width: 100%">
</section>
<div class="container">
  <div class="row tim-row">
    <div class="col-lg-12 index-col">
      <h1 class="text-center allcaps yellow-header">{{ page.title }}</h1>
      <hr>
      <p>Sekolah Pemikiran Perempuan digagas bagi pekerja seni budaya maupun periset tentang seni budaya yang memiliki ide potensial untuk menambah pengetahuan perempuan yang disampaikan dalam  seleksi hibah Cipta Media Ekspresi 2018. Tujuan dari Sekolah Pemikiran Perempuan adalah membuka ruang belajar perspektif perempuan bagi peserta untuk menajamkan konsep karya. <a href="#more" data-toggle="collapse" class="more-less">Selengkapnya...</a></p>
      <div id="more" class="collapse">
        <p>Lewat Sekolah Pemikiran Perempuan, peserta diharapkan akan mengenal konsep dasar pemikiran perempuan dalam berkarya seni budaya, meriset ataupun mengkaji hasil karya seni budaya. Untuk itu, peserta memiliki tugas membaca, me-review dan mendiskusikan rujukan yang dipersiapkan.  Peserta juga didorong untuk mengembangkan rancangan karyanya melalui mekanisme peer review seturut perkembangan pengetahuannya mengenai pemikiran perempuan. Pengembangan rancangan karya tersebut akan menentukan seleksi hibah CME senilai 20 juta rupiah kepada masing-masing peserta yang berhasil.</p>
        <a href="#more" data-toggle="collapse" class="more-less" style="display: none">Sembunyikan...</a>
      </div>
      <div class="row tim-row text-center">
        <h1 class="text-center allcaps yellow-header">Materi Pembelajaran</h1>
        <hr>
        <div class="col-xs-2 col-xs-offset-4 text-center">
          <a href="#audio" data-toggle="pill"><h3 class="allcaps">Audio</h3></a>
        </div>
        <div class="col-xs-2 text-center">
          <a href="#dokumen" data-toggle="pill"><h3 class="allcaps">Dokumen</h3></a>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container tab-content">
  <div id="audio" class="row tab-pane fade active in">
    <div class="col-md-12">
      <h2 class="text-center">Kumpulan Audio Pembelajaran</h2>
      <table class="table">
        <thead>
          <tr>
            <th class="text-center col-md-4">Judul &amp; Deskripsi</th>
            <th class="text-center col-md-8">Berkas</th>
          </tr>
        </thead>
        <tbody>
          {% for audio in site.data.spp.materi.audio %}
          <tr>
            <td>
              <h3>{{ audio.title }}</h3>
              <p>
                {{ audio.desc }}
              </p>
            </td>
            <td style="vertical-align: middle">
              <audio src="{{ audio.file }}" controls="controls" style="width: 100%">
                Browser Anda tidak mendukung pemutaran Audio.
              </audio>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
  <div id="dokumen" class="row tab-pane fade">
    <div class="col-md-12">
      <h2 class="text-center">Kumpulan Dokumen Pembelajaran</h2>
      <table class="table">
        <thead>
          <tr>
            <th class="text-center col-md-4">Judul &amp; Deskripsi</th>
            <th class="text-center col-md-8">Berkas</th>
          </tr>
        </thead>
        <tbody>
          {% for dokumen in site.data.spp.materi.dokumen %}
          <tr>
            <td>
              <h3>{{ dokumen.title }}</h3>
              <p>
                {{ dokumen.desc }}
              </p>
            </td>
            <td style="vertical-align: middle">
              <a href="{{ dokumen.file }}" target="_blank">
                <img class="img-responsive center-block" src="{{ dokumen.thumb }}" style="max-width: 150px;width: 100%;">
                <p class="text-center"><small>klik untuk membaca</small></p>
              </a>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
