---
title: Alur Waktu
layout: info
---

{% include_cached timeline.html %}
    <section id="header" style="background-image: url(/static/img/landing/timeline-header.png);background-size: cover;background-attachment: scroll;background-repeat: no-repeat;background-position: bottom;height: 40vh;width: 100%">
    </section>
	<div class="container" style="margin-top: 30px;">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h1 class="index-title">{{ page.title }}</h1>
            </div>
        </div>
        <img class="img-responsive center-block" src="{{site.baseurl}}/static/img/landing/CME_Aset_Leaf_Blue.png" style="max-height: 200px; padding-left: 2%">
        <div class="row">
            <div class="col-md-12">
                <ul class="timeline">
                    <li>
                      <div class="timeline-badge primary"><i class="fa fa-circle" aria-hidden="true"></i></div>
                      <div class="timeline-panel">
                        <div class="timeline-body">
                          <h3 style="color: #e2bc67; font-family: 'Biryani', sans-serif; text-transform: uppercase; padding-top: 40px">Peluncuran Cipta Media Ekspresi</h3>
                          <h3>8 JANUARI 2018</h3>
                          <p>Peluncuran Cipta Media Ekspresi <br>Formulir pendaftaran hibah dibuka.</p>
                          <p><a href="pemohon-ekspresi.html" class="index-link">Permohonan Masuk</a></p>
                        </div>
                      </div>
                    </li>
                    <li class="timeline-inverted">
                      <div class="timeline-badge primary"><i class="fa fa-circle" aria-hidden="true"></i></div>
                      <div class="timeline-panel">
                        <div class="timeline-body">
                          <h3 style="color: #e2bc67; font-family: 'Biryani', sans-serif; text-transform: uppercase; padding-top: 40px">Sosialisasi</h3>
                          <h3>18 JANUARI - 27 FEBRUARI 2018</h3>
                          <p>Sosialisasi tatap muka dengan Juri dan Panitia hibah<br><a href="timeline-ekspresi-sosialisasi.html">selengkapnya ></a></p>
                        </div>
                      </div>
                    </li>
                    <li>
                      <div class="timeline-badge primary"><i class="fa fa-circle" aria-hidden="true"></i></div>
                      <div class="timeline-panel">
                        <div class="timeline-body">
                          <h3 style="color: #e2bc67; font-family: 'Biryani', sans-serif; text-transform: uppercase; padding-top: 40px">Evaluasi pemohon hibah</h3>
                          <h3>25 MARET 2018</h3>
                          <p>Pendaftaran hibah Cipta Media Ekspresi DITUTUP</p>
                        </div>
                      </div>
                    </li>
                    <li class="timeline-inverted">
                      <div class="timeline-badge primary"><i class="fa fa-circle" aria-hidden="true"></i></div>
                      <div class="timeline-panel">
                        <div class="timeline-body">
                          <h3 style="color: #e2bc67; font-family: 'Biryani', sans-serif; text-transform: uppercase; padding-top: 40px">Penentuan penerima hibah</h3>
                          <h3>21 APRIL 2018</h3>
                          <p>Pengumuman penerima hibah Cipta Media Ekspresi</p>
                        </div>
                      </div>
                    </li>
                    <li>
                      <div class="timeline-badge primary"><i class="fa fa-circle" aria-hidden="true"></i></div>
                      <div class="timeline-panel">
                        <div class="timeline-body">
                          <h3 style="color: #e2bc67; font-family: 'Biryani', sans-serif; text-transform: uppercase; padding-top: 40px">Penutupan Cipta Media Ekspresi</h3>
                          <h3>28 FEBRUARI 2019</h3>
                          <p>Penutupan Cipta Media Ekspresi, seluruh penerima hibah diharuskan menyelesaikan proyek, laporan keuangan, dan laporan naratif</p>
                        </div>
                      </div>
                    </li>
                    <li class="clearfix" style="float: none;"></li>
                </ul>
            </div>
        </div>
        <img class="img-responsive center-block" src="{{site.baseurl}}/static/img/landing/CME_Aset_Leaf_Blue.png" style="max-height: 200px; padding-left: 2%; transform: rotate(180deg)">
        <hr style="border-top: 2px solid #ffca5f;">
        <section style="margin-top: 100px">
            <div class="container">
                <div class="row">
                    <div class="col-xs-6 col-md-2 col-md-offset-1 text-center">
                        <div class="round-button"><div class="round-button-circle"><a href="{{site.baseurl}}/ciptamediaekspresi/kategori-ekspresi" class="round-button"><b>Kategori</b></a></div></div>
                    </div>
                    <div class="col-xs-6 col-md-2 text-center">
                        <div class="round-button"><div class="round-button-circle"><a href="{{site.baseurl}}/ciptamediaekspresi/timeline-ekspresi" class="round-button"><b>Linimasa</b></a></div></div>
                    </div>
                    <div class="col-xs-6 col-md-2 text-center">
                        <div class="round-button"><div class="round-button-circle"><a href="{{site.baseurl}}/ciptamediaekspresi/juri-ekspresi" class="round-button"><b>Dewan Juri</b><br><b>& Panitia</b></a></div></div>
                    </div>
                    <div class="col-xs-6 col-md-2 text-center">
                        <div class="round-button"><div class="round-button-circle"><a href="{{site.baseurl}}/ciptamediaekspresi/syarat-ekspresi" class="round-button"><b>Syarat &</b><br><b>Ketentuan</b></a></div></div>
                    </div>
                    <div class="col-xs-6 col-xs-offset-3 col-md-2 col-md-offset-0 text-center">
                        <div class="round-button"><div class="round-button-circle"><a href="{{site.baseurl}}/ciptamediaekspresi/faq-ekspresi" class="round-button"><b>Pertanyaan</b><br><b>Umum</b></a></div></div>
                    </div>
                </div>
            </div>
        </section>
        <img class="img-responsive center-block" src="{{site.baseurl}}/static/img/landing/CME_Aset_GirlBack_index.png">
    </div>
