---
title: Alur Waktu - Sosialisasi
layout: info
---

{% include_cached timeline.html %}
    <section id="header" style="background-image: url(/static/img/landing/timeline-header.png);background-size: cover;background-attachment: scroll;background-repeat: no-repeat;background-position: bottom;height: 40vh;width: 100%">
    </section>
	<div class="container" style="margin-top: 30px;">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h1 class="index-title">{{ page.title }}</h1>
            </div>
        </div>
        <img class="img-responsive center-block" src="{{site.baseurl}}/static/img/landing/CME_Aset_Leaf_Blue.png" style="max-height: 200px; padding-left: 2%">
        <div class="row">
            <h3 class="text-center" style="color: #e2bc67; font-family: 'Biryani', sans-serif; text-transform: uppercase;">Januari 2018</h3>
            <div class="col-md-12">
                <ul class="timeline">
                    <li>
                      <div class="timeline-badge primary detail-tl">
                        <span class="fa-stack" aria-hidden="true">
                          <i class="fa fa-circle fa-stack-2x"></i>
                          <i class="fa fa-map-marker fa-stack-1x fa-inverse"></i>
                        </span>
                      </div>
                      <div class="timeline-panel">
                        <div class="timeline-body">
                          <h3>18 Januari 2018</h3>
                          <h3>Solo, Jawa Tengah</h3>
                          <p>Pendopo Wisma Seni Taman Budaya Jawa Tengah</p>
                          <h4>Naomi Srikandi & Siska Doviana</h4>
                        </div>
                      </div>
                    </li>
                    <li class="timeline-inverted" style="margin-top: 0px">
                      <div class="timeline-badge primary detail-tl visible-xs-block">
                        <span class="fa-stack" aria-hidden="true">
                          <i class="fa fa-circle fa-stack-2x"></i>
                          <i class="fa fa-map-marker fa-stack-1x fa-inverse"></i>
                        </span>
                      </div>
                      <div class="timeline-panel">
                        <div class="timeline-body">
                          <h3>19 Januari 2018</h3>
                          <h3>Yogyakarta, DI Yogyakarta</h3>
                          <p>Kedai Kebun Forum</p>
                          <h4>Naomi Srikandi & Siska Doviana</h4>
                        </div>
                      </div>
                    </li>
                    <li>
                      <div class="timeline-badge primary detail-tl">
                        <span class="fa-stack" aria-hidden="true">
                          <i class="fa fa-circle fa-stack-2x"></i>
                          <i class="fa fa-map-marker fa-stack-1x fa-inverse"></i>
                        </span>
                      </div>
                      <div class="timeline-panel">
                        <div class="timeline-body">
                          <h3>21 Januari 2018</h3>
                          <h3>Malang, Jawa Timur</h3>
                          <p>Malang Creative Fusion</p>
                          <h4>Naomi Srikandi & Siska Doviana</h4>
                        </div>
                      </div>
                    </li>
                    <li class="timeline-inverted" style="margin-top: 0px">
                      <div class="timeline-badge primary detail-tl visible-xs-block">
                        <span class="fa-stack" aria-hidden="true">
                          <i class="fa fa-circle fa-stack-2x"></i>
                          <i class="fa fa-map-marker fa-stack-1x fa-inverse"></i>
                        </span>
                      </div>
                      <div class="timeline-panel">
                        <div class="timeline-body">
                          <h3>21 Januari 2018</h3>
                          <h3>Malang, Jawa Timur</h3>
                          <p>Wawancara RRI Pro 2 Malang pukul 10:00</p>
                          <h4>Naomi Srikandi & Siska Doviana</h4>
                        </div>
                      </div>
                    </li>
                    <li>
                      <div class="timeline-badge primary detail-tl">
                        <span class="fa-stack" aria-hidden="true">
                          <i class="fa fa-circle fa-stack-2x"></i>
                          <i class="fa fa-map-marker fa-stack-1x fa-inverse"></i>
                        </span>
                      </div>
                      <div class="timeline-panel">
                        <div class="timeline-body">
                          <h3>25 Januari 2018</h3>
                          <h3>Pontianak, Kalimantan Barat</h3>
                          <p>Aula Balai Bahasa Kalimantan Barat</p>
                          <h4>Andy Yentriani & Siska Doviana</h4>
                        </div>
                      </div>
                    </li>
                    <li class="clearfix" style="float: none;"></li>
                </ul>
            </div>
        </div>
        <div class="row">
            <h3 class="text-center" style="color: #e2bc67; font-family: 'Biryani', sans-serif; text-transform: uppercase;">Februari 2018</h3>
            <div class="col-md-12">
                <ul class="timeline">
                    <li>
                      <div class="timeline-badge primary detail-tl">
                        <span class="fa-stack" aria-hidden="true">
                          <i class="fa fa-circle fa-stack-2x"></i>
                          <i class="fa fa-map-marker fa-stack-1x fa-inverse"></i>
                        </span>
                      </div>
                      <div class="timeline-panel">
                        <div class="timeline-body">
                          <h3>2 Februari 2018</h3>
                          <h3>Medan, Sumatera Utara</h3>
                          <p>Ruang Sidang Fisip USU</p>
                          <h4>Andy Yentriyani</h4>
                        </div>
                      </div>
                    </li>
                    <li class="timeline-inverted" style="margin-top: 0px">
                      <div class="timeline-badge primary detail-tl visible-xs-block">
                        <span class="fa-stack" aria-hidden="true">
                          <i class="fa fa-circle fa-stack-2x"></i>
                          <i class="fa fa-map-marker fa-stack-1x fa-inverse"></i>
                        </span>
                      </div>
                      <div class="timeline-panel">
                        <div class="timeline-body">
                          <h3>3 Februari 2018</h3>
                          <h3>Kupang, Nusa Tenggara Timur</h3>
                          <p>Taman Dedari Sikumana</p>
                          <h4>Lisabona Rahman & Aleta Baun</h4>
                        </div>
                      </div>
                    </li>
                    <li>
                      <div class="timeline-badge primary detail-tl">
                        <span class="fa-stack" aria-hidden="true">
                          <i class="fa fa-circle fa-stack-2x"></i>
                          <i class="fa fa-map-marker fa-stack-1x fa-inverse"></i>
                        </span>
                      </div>
                      <div class="timeline-panel">
                        <div class="timeline-body">
                          <h3>5 Februari 2018</h3>
                          <h3>Sumba Timur, Nusa Tenggara Timur</h3>
                          <p>Talk Show Max FM</p>
                          <h4>Lisabona Rahman & Ivonne Kristiani</h4>
                        </div>
                      </div>
                    </li>
                    <li class="timeline-inverted" style="margin-top: 0px">
                      <div class="timeline-badge primary detail-tl visible-xs-block">
                        <span class="fa-stack" aria-hidden="true">
                          <i class="fa fa-circle fa-stack-2x"></i>
                          <i class="fa fa-map-marker fa-stack-1x fa-inverse"></i>
                        </span>
                      </div>
                      <div class="timeline-panel">
                        <div class="timeline-body">
                          <h3>6 Februari 2018</h3>
                          <h3>Sumba Timur, Nusa Tenggara Timur</h3>
                          <p>Univ. Kristen Wira Wacana</p>
                          <h4>Lisabona Rahman & Ivonne Kristiani</h4>
                        </div>
                      </div>
                    </li>
                    <li>
                      <div class="timeline-badge primary detail-tl">
                        <span class="fa-stack" aria-hidden="true">
                          <i class="fa fa-circle fa-stack-2x"></i>
                          <i class="fa fa-map-marker fa-stack-1x fa-inverse"></i>
                        </span>
                      </div>
                      <div class="timeline-panel">
                        <div class="timeline-body">
                          <h3>8 Februari 2018</h3>
                          <h3>Sumba Barat, Nusa Tenggara Timur</h3>
                          <p>Yayasan Bahtera</p>
                          <h4>Lisabona Rahman & Ivonne Kristiani</h4>
                        </div>
                      </div>
                    </li>
                    <li class="timeline-inverted" style="margin-top: 0px">
                      <div class="timeline-badge primary detail-tl visible-xs-block">
                        <span class="fa-stack" aria-hidden="true">
                          <i class="fa fa-circle fa-stack-2x"></i>
                          <i class="fa fa-map-marker fa-stack-1x fa-inverse"></i>
                        </span>
                      </div>
                      <div class="timeline-panel">
                        <div class="timeline-body">
                          <h3>11 Februari 2018</h3>
                          <h3>Mataram, Nusa Tenggara Barat</h3>
                          <p>Museum NTB</p>
                          <h4>Lisabona Rahman & Ivonne Kristiani</h4>
                        </div>
                      </div>
                    </li>
                    <li>
                      <div class="timeline-badge primary detail-tl">
                        <span class="fa-stack" aria-hidden="true">
                          <i class="fa fa-circle fa-stack-2x"></i>
                          <i class="fa fa-map-marker fa-stack-1x fa-inverse"></i>
                        </span>
                      </div>
                      <div class="timeline-panel">
                        <div class="timeline-body">
                          <h3>14 Februari 2018</h3>
                          <h3>Makassar, Sulawesi Selatan</h3>
                          <p>Aula Fort Rotterdam</p>
                          <h4>Lisabona Rahman & Ivonne Kristiani</h4>
                        </div>
                      </div>
                    </li>
                    <li class="timeline-inverted" style="margin-top: 0px">
                      <div class="timeline-badge primary detail-tl visible-xs-block">
                        <span class="fa-stack" aria-hidden="true">
                          <i class="fa fa-circle fa-stack-2x"></i>
                          <i class="fa fa-map-marker fa-stack-1x fa-inverse"></i>
                        </span>
                      </div>
                      <div class="timeline-panel">
                        <div class="timeline-body">
                          <h3>17 Februari 2018</h3>
                          <h3>Palu, Sulawesi Tengah</h3>
                          <p>Lembaga Penjaminan Mutu Pendidikan Sulawesi Tengah</p>
                          <h4>Lisabona Rahman & Ivonne Kristiani</h4>
                        </div>
                      </div>
                    </li>
                    <li>
                      <div class="timeline-badge primary detail-tl">
                        <span class="fa-stack" aria-hidden="true">
                          <i class="fa fa-circle fa-stack-2x"></i>
                          <i class="fa fa-map-marker fa-stack-1x fa-inverse"></i>
                        </span>
                      </div>
                      <div class="timeline-panel">
                        <div class="timeline-body">
                          <h3>20 Februari 2018</h3>
                          <h3>Jayapura, Papua</h3>
                          <p>ISBI Tanah Papua</p>
                          <h4>Lisabona Rahman, Nyak Ina Raseuki & Ivonne Kristiani</h4>
                        </div>
                      </div>
                    </li>
                    <li class="timeline-inverted" style="margin-top: 0px">
                      <div class="timeline-badge primary detail-tl visible-xs-block">
                        <span class="fa-stack" aria-hidden="true">
                          <i class="fa fa-circle fa-stack-2x"></i>
                          <i class="fa fa-map-marker fa-stack-1x fa-inverse"></i>
                        </span>
                      </div>
                      <div class="timeline-panel">
                        <div class="timeline-body">
                          <h3>21 Februari 2018</h3>
                          <h3>Aceh, Sumatera Utara</h3>
                          <p>Keude Kupi Aceh</p>
                          <h4>Andy Yentriyani</h4>
                        </div>
                      </div>
                    </li>
                    <li>
                      <div class="timeline-badge primary detail-tl">
                        <span class="fa-stack" aria-hidden="true">
                          <i class="fa fa-circle fa-stack-2x"></i>
                          <i class="fa fa-map-marker fa-stack-1x fa-inverse"></i>
                        </span>
                      </div>
                      <div class="timeline-panel">
                        <div class="timeline-body">
                          <h3>23 Februari 2018</h3>
                          <h3>Jailolo, Maluku Utara</h3>
                          <p>Villa Gaba</p>
                          <h4>Lisabona Rahman</h4>
                        </div>
                      </div>
                    </li>
                    <li class="timeline-inverted" style="margin-top: 0px">
                      <div class="timeline-badge primary detail-tl visible-xs-block">
                        <span class="fa-stack" aria-hidden="true">
                          <i class="fa fa-circle fa-stack-2x"></i>
                          <i class="fa fa-map-marker fa-stack-1x fa-inverse"></i>
                        </span>
                      </div>
                      <div class="timeline-panel">
                        <div class="timeline-body">
                          <h3>24 Februari 2018</h3>
                          <h3>Ternate, Maluku Utara</h3>
                          <p>Bastion Groot Boelwrect</p>
                          <h4>Lisabona Rahman</h4>
                        </div>
                      </div>
                    </li>
                    <li>
                      <div class="timeline-badge primary detail-tl">
                        <span class="fa-stack" aria-hidden="true">
                          <i class="fa fa-circle fa-stack-2x"></i>
                          <i class="fa fa-map-marker fa-stack-1x fa-inverse"></i>
                        </span>
                      </div>
                      <div class="timeline-panel">
                        <div class="timeline-body">
                          <h3>25 Februari 2018</h3>
                          <h3>Indramayu, Jawa Barat</h3>
                          <p>Wisma Dharma</p>
                          <h4>Naomi Srikandi & Siska Doviana</h4>
                        </div>
                      </div>
                    </li>
                    <li class="timeline-inverted" style="margin-top: 0px">
                      <div class="timeline-badge primary detail-tl visible-xs-block">
                        <span class="fa-stack" aria-hidden="true">
                          <i class="fa fa-circle fa-stack-2x"></i>
                          <i class="fa fa-map-marker fa-stack-1x fa-inverse"></i>
                        </span>
                      </div>
                      <div class="timeline-panel">
                        <div class="timeline-body">
                          <h3>27 Februari 2018</h3>
                          <h3>Cirebon, Jawa Barat</h3>
                          <p>Fahmina Institute</p>
                          <h4>Naomi Srikandi & Siska Doviana</h4>
                        </div>
                      </div>
                    </li>
                    <li>
                      <div class="timeline-badge primary detail-tl">
                        <span class="fa-stack" aria-hidden="true">
                          <i class="fa fa-circle fa-stack-2x"></i>
                          <i class="fa fa-map-marker fa-stack-1x fa-inverse"></i>
                        </span>
                      </div>
                      <div class="timeline-panel">
                        <div class="timeline-body">
                          <h3>27 Februari 2018</h3>
                          <h3>Bandung, Jawa Barat</h3>
                          <p>372 Kopi Dago Pakar</p>
                          <h4>Cecil Mariani & Siska Doviana</h4>
                        </div>
                      </div>
                    </li>
                    <li class="clearfix" style="float: none;"></li>
                </ul>
            </div>
        </div>
    </div>
