---
layout: info
---

<link rel="stylesheet" href="{{site.baseurl}}/static/css/index.css">

<div class="container">
  {% include title-header.html %}
  <div class="row">
    <div class="col-md-12">
      <h1 class="allcaps text-center">Laporan Aktivitas {{ page.proyek }}</h1>
      <h3 class="text-center">Oleh: {{ page.nama }}</h3>
      <table class="table table-condensed table-bordered">
        <thead>
          <tr>
            <th class="text-center" colspan="3"><h3>{{ page.title }}</h3></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th class="text-center">Tanggal</th>
            <td>{{ page.date | date: site.default_date_format }}</td>
            <td rowspan="5">
              <figure>
                <img
                  {% if page.img.url %}
                  src="{{ page.img.url }}"
                  {% else %}
                  src="{{ page.img }}"
                  {% endif %}
                  class="img-responsive center-block"
                  style="max-height: 250px">
                <figcaption class="text-center"><small>{{ page.img_caption }}</small></figcaption>
              </figure>
              {% if page.img2.url or page.img2 %}
              <figure>
                <img
                  {% if page.img2.url %}
                  src="{{ page.img2.url }}"
                  {% else %}
                  src="{{ page.img }}"
                  {% endif %}
                  class="img-responsive center-block"
                  style="max-height: 250px">
                <figcaption class="text-center"><small>{{ page.img2_caption }}</small></figcaption>
              </figure>
              {% endif %}
            </td>
          </tr>
          <tr>
            <th class="text-center">Jam</th>
            <td>{{ page.jam }}</td>
          </tr>
          <tr>
            <th class="text-center">Lokasi</th>
            <td>{{ page.lokasi }}</td>
          </tr>
          <tr>
            <th class="text-center">Alamat</th>
            <td>{{ page.alamat }}</td>
          </tr>
          <tr>
            <th class="text-center">Daftar Hadir</th>
            <td>{{ page.hadir | xml_escape | newline_to_br }}</td>
          </tr>
          <tr>
            <th class="text-center">Tujuan</th>
            <td colspan="2">{{ page.tujuan | xml_escape | newline_to_br }}</td>
          </tr>
          <tr>
            <th class="text-center" colspan="3">Ringkasan</th>
          </tr>
          <tr>
            <th class="text-center">Hasil</th>
            <td colspan="2">{{ page.hasil | xml_escape | newline_to_br }}</td>
          </tr>
          <tr>
            <th class="text-center">Evaluasi</th>
            <td colspan="2">{{ page.evaluasi | xml_escape | newline_to_br }}</td>
          </tr>
          {% if page.rekomendasi %}
          <tr>
            <th class="text-center">Rekomendasi</th>
            <td colspan="2">{{ page.rekomendasi | xml_escape | newline_to_br }}</td>
          </tr>
          {% endif %}
        </tbody>
      </table>
    </div>
  </div>
</div>
