---
layout: info
---

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.2/assets/owl.carousel.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.2/assets/owl.theme.default.css" />

<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.2/owl.carousel.min.js"></script>
{% include jpages.html %}
<script>
/* when document is ready */
$(function() {
	/* initiate plugin */
	$("#holder").jPages({
		containerID : "itemContainer",
		perPage : 10,
		startPage: 1,
		startRange: 1,
		midRange: 3,
		endRange: 1
	});
});
</script>

<div class="container">
  <div class="row" style="margin-top: 5em">
    <div class="col-md-3 col-md-offset-1 vcenter">
      <img class="img-responsive center-block" src="{{ page.foto }}">
    </div>
    <div class="col-md-7 col-xs-12 vcenter">
      <h2 class="index-title">{{ page.nama | xml_escape }}</h2>
      <h3 style="color: #e2bc67; text-transform: uppercase; font-weight: bold;">{{ page.title | xml_escape }}</h3>
      <p>{{ page.profil }}</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      {% case page.kategori %}
        {% when 'akses' %}
          {% assign img = 'akses.png' %}
        {% when 'kerjasama_kolaborasi' %}
          {% assign img = 'kolaborasi.png' %}
        {% when 'perjalanan' %}
          {% assign img = 'mobilitas.png' %}
        {% when 'lintasgenerasi' %}
          {% assign img = 'lintas-generasi.png' %}
        {% when 'riset_kajian_kuratorial' %}
          {% assign img = 'riset.png' %}
      {% endcase %}
      <img class="img-responsive center-block" src="{{ site.baseurl }}/static/img/landing/{{ img }}" style="max-height: 250px">
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 col-md-offset-1">
      <h2 class="text-center" style="color: #e2bc67; text-transform: uppercase; font-weight: bold">Ringkasan Proyek</h2>
      <hr style="border-top: 1px solid #ffca5f;">
      <div class="row">
        <div class="col-md-3">
          <p style="font-weight: bold; color: #17374e;">Dana Proyek</p>
        </div>
        <div class="col-md-9">
          <p>Rp.{{ page.approved_dana }} Juta</p>
          <a {% return page.budget | relative_url | prepend: 'href="' | append: '"' if page.budget %}
             class="btn btn-xs {% return (page.budget ? 'main-btn' : 'disabled') %}"
            >Rincian Anggaran</a>
          <a {% return page.finance | relative_url | prepend: 'href="' | append: '"' if page.budget %}
             class="btn btn-xs {% return (page.finance ? 'main-btn' : 'disabled') %}"
            >Laporan Keuangan</a>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3">
          <p style="font-weight: bold; color: #17374e;">Durasi</p>
        </div>
        <div class="col-md-9">
          <p>{{ page.durasi }}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <p>{{ page.ringkasan }}</p>
          {% if page.interview %}
          <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/{{ page.interview }}"></iframe>
          </div>
          {% endif %}
          <a {% return page.proposal | relative_url | prepend: 'href="' | append: '"' if page.proposal %}
             class="btn {% return (page.proposal ? 'main-btn' : 'disabled') %}"
            >Proposal Lengkap</a>
          <a {% return page.naratif | relative_url | prepend: 'href="' | append: '"' if page.naratif %}
             class="btn {% return (page.naratif ? 'main-btn' : 'disabled') %}"
            >Laporan Naratif</a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <h2 class="text-center penerima-subtitle">Aktivitas</h2>
      <hr style="border-top: 1px solid #ffca5f;">
      <div id="itemContainer" class="row">
        {% assign aktivitas_total = 0 %}
        {% for aktivitas in site.laporan-aktivitas %}
        {% if aktivitas.proyek == page.title %}
        {% assign aktivitas_total = aktivitas_total | plus: 1 %}
        <div>
        <div class="col-xs-8 vcenter">
          <a href="{{ aktivitas.url | prepend: site.baseurl }}">{{ aktivitas.title }}</a>
        </div><!--
        --><div class="col-xs-4 text-right vcenter">
          <small>{{ aktivitas.date | date: "%d/%m/%Y" }}</small>
        </div>
        </div>
        {% endif %}
        {% endfor %}
        {% if aktivitas_total == 0 %}
        <div class="col-xs-8">
          <p>Belum ada kegiatan</p>
        </div>
        {% endif %}
      </div>
      <div class="row text-center">
        <div class="col-md-12">
          <div class="pag-holder" id="holder"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <h2 class="text-center penerima-subtitle">Pameran Karya</h2>
      <hr style="border-top: 1px solid #ffca5f;">
      {% for karya in page.karya %}
        {% for sequence in karya.img %}
      <h3 class="text-center">{{ sequence.name }}</h3>
      <img class="img-responsive center-block" src="{{ sequence.url }}" style="max-width: 600px;width: 100%;">
        {% endfor %}
        {% for sequence in karya.buku %}
      <h3 class="text-center">{{ sequence.name }}</h3>
      <a href="{{ sequence.url }}" target="_blank" onClick="ga('send', 'event', { eventCategory: 'book', eventAction: 'download', eventLabel: '{{ sequence.name }}'});">
        <img class="img-responsive center-block" src="{{ sequence.thumb }}" style="max-width: 600px;width: 100%;">
        <p class="text-center"><small>klik untuk membaca</small></p>
      </a>
        {% endfor %}
        {% for sequence in karya.iframe %}
      <h3 class="text-center">{{ sequence.name }}</h3>
      <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" src="{{ sequence.url }}" frameborder="0" allowfullscreen="true"></iframe>
      </div>
        {% endfor %}
        {% for sequence in karya.audio %}
      <h3 class="text-center">{{ sequence.name }}</h3>
      <audio src="{{ sequence.url }}" controls="controls" style="width: 100%">
        Browser Anda tidak mendukung pemutaran Audio.
      </audio>
        {% endfor %}
        {% for sequence in karya.video %}
      <h3 class="text-center">{{ sequence.name }}</h3>
      <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/{{ sequence.url }}"></iframe>
      </div>
        {% endfor %}
      {% endfor %}
    </div>
  </div>
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <h2 class="text-center penerima-subtitle">Berita Terbaru</h2>
      <hr style="border-top: 1px solid #ffca5f;">
      {% for post in site.categories['CME'] %}
      {% unless post.categories contains 'laporan' %}
      {% if post.categories contains page.title %}
      <div class="row">
        <div class="col-md-12">
          <a href="{{ post.url | prepend: site.baseurl }}"><h3>{{ post.title }}</h3></a>
          <i class="fa fa-clock-o"></i> <a>{{ post.date | date: site.default_date_format }}</a>
          <p>{{ post.content | strip_html | truncatewords:30 }}</p>
        </div>
      </div>
      {% endif %}
      {% endunless %}
      {% endfor %}
    </div>
  </div>
</div>
{% include comment.html %}

<script src="{{site.baseurl}}/static/js/rsz-fallback.js"></script>

{% assign index = 0 %}
{% for item in site.data.final.list %}
  {% assign index = index | plus: 1 %}
  {% if item == page.nomor %}
    {% break %}
  {% endif %}
{% endfor %}
{% include grant-recipient-block.html index=index %}
