---
layout: info
---

<script>
  $(document).ready(function(){
    $("img").addClass("img-responsive center-block");
  });
</script>
{% include facebook-jssdk.html %}
{% assign author = site.data.blog-authors[page.author] %}
<div class="container">
    <div class="row">
        <div class="{% if page.layout == 'proposal' %}col-md-7 col-md-offset-1{% else %}col-md-6 col-md-offset-2{% endif %}">
            {% if page.layout == 'proposal' %}
            {{ content }}
            {% else %}  
            <h1 class="index-title text-center"> {{ page.title }}</h1>
            <br>
            <br>
            {{ content }}
            <h5 style="display: inline;">Tags:</h5>
            {% for tag in page.tags %}
            <button class="btn btn-white btn-xs" type="button">{{ tag }}</button>
            {% endfor %}
            {% endif %}
            <hr>
        </div>
        <div class="col-md-2" style="margin-top: 30px">
            <div class="panel-group" style="font-size: 12px" id="accordion">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <p style="font-size: 12px; margin-bottom: 0;"><a style="color: #6ca59a;" data-toggle="collapse" data-parent="#accordion" href="#collapse1">Penulis dan Tanggal Penulisan</a></p>
                    </div>
                    <div id="collapse1" class="panel-collapse collapse in">
                        <div class="panel-body" style="border-top: 1px solid #e0bb6b;">
                        {% if author.url %}
                            <a href="{{ site.baseurl }}{{ author.url }}">{{ author.name }}</a><br/>
                        {% elsif author.name %}
                            {{ author.name }}<br/>
                        {% else %}
                            {{ page.author }}<br/>
                        {% endif %}
                            {{ page.date | date: site.default_date_format }}
                        </div>
                    </div>
                </div>
                <br>
                {% if page.layout == 'proposal' %}
                {% else %}
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <p style="font-size: 12px; margin-bottom: 0;"><a style="color: #6ca59a;" data-toggle="collapse" data-parent="#accordion" href="#collapse2">Kategori</a></p>
                    </div>
                    <div id="collapse2" class="panel-collapse collapse">
                        <div class="panel-body" style="border-top: 1px solid #e0bb6b;">
                            {% for category in page.categories %}
                            <button class="btn btn-white btn-xs" type="button">{{ category }}</button>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <br>
                {% endif %}
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <p style="font-size: 12px; margin-bottom: 0;"><a style="color: #6ca59a;" data-toggle="collapse" data-parent="#accordion" href="#collapse3">Lisensi Artikel</a></p>
                    </div>
                    <div id="collapse3" class="panel-collapse collapse">
                        <div class="panel-body text-center" style="border-top: 1px solid #e0bb6b;">
                            {% assign tahun = page.date | date: "%Y" %}
                            {{ page.date | date: "%B" }} {{ tahun }} | 
                            {% case tahun %}
                            {% when '2011' %}
                            <a href="https://creativecommons.org/licenses/by-sa/3.0/deed.id" class="btn-link">CC BY-SA 3.0</a>
                            {% when '2012' %}
                            <a href="https://creativecommons.org/licenses/by-sa/3.0/deed.id" class="btn-link">CC BY-SA 3.0</a>
                            {% when '2013' %}
                            <a href="https://creativecommons.org/licenses/by-sa/3.0/deed.id" class="btn-link">CC BY-SA 3.0</a>
                            {% when '2014' %}
                            <a href="https://creativecommons.org/licenses/by-sa/3.0/deed.id" class="btn-link">CC BY-SA 3.0</a>
                            {% when '2015' %}
                            <a href="https://creativecommons.org/licenses/by/4.0/deed.id" class="btn-link">CC BY 4.0</a>
                            {% when '2016' %}
                            <a href="https://creativecommons.org/licenses/by/4.0/deed.id" class="btn-link">CC BY 4.0</a>
                            {% when '2017' %}
                            <a href="https://creativecommons.org/licenses/by/4.0/deed.id" class="btn-link">CC BY 4.0</a>
                            {% when '2018' %}
                            <a href="https://creativecommons.org/licenses/by/4.0/deed.id" class="btn-link">CC BY 4.0</a>
                            {% when '2019' %}
                            <a href="https://creativecommons.org/licenses/by/4.0/deed.id" class="btn-link">CC BY 4.0</a>
                            {% endcase %} 
                        </div>
                    </div>
                </div>
                <br>
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <p style="font-size: 12px; margin-bottom: 0;"><a style="color: #6ca59a;" data-toggle="collapse" data-parent="#accordion" href="#collapse4">Bagikan</a></p>
                  </div>
                  <div id="collapse4" class="panel-collapse collapse">
                    <div class="panel-body" style="border-top: 1px solid #e0bb6b;">
                      <a href="https://facebook.com/sharer.php?u={{ site.url }}{{ page.url }}" rel="nofollow" target="_blank">
                        <i class="fa fa-fw fa-facebook" style="font-size:1.3em;"></i>
                      </a>
                      <a href="https://twitter.com/intent/tweet?text={{ page.title | xml_escape }}&url={{ site.url }}{{ page.url }}&via=ciptamedia" rel="nofollow" target="_blank">
                        <i class="fa fa-fw fa-twitter" style="font-size:1.3em;"></i>
                      </a>
                      <a href="https://wa.me/?text={{ page.title | xml_escape }} {{ site.url }}{{ page.url | url_encode }}">
                        <i class="fa fa-fw fa-whatsapp" style="font-size:1.3em;"></i>
                      </a>
                    </div>
                  </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-7 col-md-offset-1">
            {% if page.comments %}
              {% include comment.html %}
            {% endif %}
        </div>
    </div>
</div>
