---
layout: info
---

<link rel="stylesheet" href="{{site.baseurl}}/static/css/index.css">

<div class="container">
  {% include title-header.html %}
  <div class="row">
    <div class="col-md-12">
      <h1 class="allcaps text-center">Jadwal Acara</h1>
      <h2 class="allcaps text-center">{{ page.proyek }}</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <figure>
        <img src="{{ page.img }}" class="img-responsive center-block">
        <figcaption class="text-center"><small>{{ page.img_caption }}</small></figcaption>
      </figure>
    </div>
    <div class="col-md-6">
      <h3 class="text-center">{{ page.title }}</h3>
      <hr class="index-hr">
      <p>Proyek: {{ page.proyek }}</p>
      <p>Oleh: {{ page.nama }}</p>
      <br/>
      <p>Tanggal Mulai: {{ page.event-startDate }}</p>
      <p>Tanggal Selesai: {{ page.event-endDate }}</p>
      <p>Lokasi: {{ page.lokasi }}</p>
      <p>Alamat: {{ page.alamat }}</p>
    </div>
  </div>
</div>
